.page-header
  h1 サインイン
signin-form
  form(onsubmit='', name='form-signin')
    .form-group
      label(for='input-login') メンバー ID
      input.form-control#input-login(name='login', type='text')
    .form-group
      label(for='input-password') パスワード
      input.form-control#input-password(name='password', type='password')
    .text-right
      button.btn.btn-primary(type='submit') サインイン
