extends /extends/_layout

block vars
	- signedIn = false

block title
	+title('トップページ')

block riot_tags
	+riot_script('signup-form')

block content
	.page-header
		h1 トップページ
	.page-header
		h2 サインアップ
	p.hidden バリデーションエラーメッセージ
	signup-form
