extends /extends/_layout

block vars
	- signedIn = false

block title
	+title('サインイン')

block riot_tags
	+riot_script('signin-form')

block content
	.page-header
		h1 サインイン
	p.hidden バリデーションエラーメッセージ
	signin-form
