extends /extends/_layout

//-
	### [サインインページ]
	- ヘッダー
		- "グローバルナビゲーション"
	- サインインフォーム
		- サインアップ完了メッセージ
		- バリデーションエラーメッセージ
		- |アカウント ID, テキストボックス|
		- |パスワード, 秘匿テキストボックス|
		- <サインインボタン, [問題トップページ]>

block vars
	- signedIn = false

block title
	+title('サインイン')

block content
	.page-header
		h1 サインイン
	p.hidden バリデーションエラーメッセージ
	form(action='/problems/detail.html', name='form-signin')
		.form-group
			label(for='input-accound-id') アカウント ID
			input.form-control#input-accound-id(name='accound-id', type='text')
		.form-group
			label(name='password', for='input-password') パスワード
			input.form-control#input-password(type='password')
		.text-right
			button.btn.btn-primary(type='submit') サインイン
		span.help-block
			a(href="#") パスワードを忘れましたか？
