.page-header
  h1 問題一覧
.alert.alert-warning(*ngIf="errorMessage")
  {{errorMessage}}
.table-responsive
  table.table.table-striped.table-hover.table-condensed
    thead
      tr
        th 番号
        th 問題名
        th 公開日時
        th 締切日時
        th 修正コメント数
        th 質問コメント数
        th 解答コメント数
    tbody
      tr(*ngFor="let item of list")
        th {{ item?.id }}
        td
          a(href='{ "/teams/" + id }') {{ item.title }}
        td {{ item.opened_at | time }}
        td {{ item.closed_at | time }}
        td 12345
        td 12345
        td 12345
