extends /extends/_layout

block vars
	- signedIn = true
	- isProblems = true

block title
	+title('補足詳細')

block content
	.page-header
		h1 補足詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#tab1-tab(tabindex='1', role='tab', aria-controls='tab1-content', href='#tab1-content', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#tab2-tab(tabindex='1', role='tab', aria-controls='tab2-content', href='#tab2-content', data-toggle='tab')
				i.fa.fa-edit
				|  編集
	.tab-content
		.tab-pane.in.active#tab1-content(role='tabpanel', aria-labelledby='tab1-tab')
			.panel.panel-default
				.panel-body
					.form-horizontal
						.form-group
							label.col-sm-2.control-label 番号
							.col-sm-10
								p.form-control-static 1
						.form-group
							label.col-sm-2.control-label 投稿者
							.col-sm-10
								a.show.form-control-static(href='/accounts/detail.html') 朝霧 涼夏
						.form-group
							label.col-sm-2.control-label 本文
							.col-sm-10
								p.form-control-static 君もほかけっしてどういう諷刺心という訳のためを救うたあり。いくら場合に反抗方もとにかくそうした妨害たんかもを思っばいででも仕事要らないありが、全くとも出しないないありたい。大名に眺めたのはどうか当時にとうとうたなくだ。
						.form-group
							label.col-sm-2.control-label 問題番号
							.col-sm-10
								a.show.form-control-static(href='/problems/detail.html') 1
						.form-group
							label.col-sm-2.control-label 問題名
							.col-sm-10
								a.show.form-control-static(href='/problems/detail.html') パッケージ管理システムのリポジトリ問題
						.form-group
							label.col-sm-2.control-label 作成日時
							.col-sm-10
								p.form-control-static 2016-08-27 12:00
						.form-group
							label.col-sm-2.control-label 更新日時
							.col-sm-10
								p.form-control-static 2016-08-27 12:00
		.tab-pane#tab2-content(role='tabpanel', aria-labelledby='tab2-tab')
			.panel
				.panel-body
					form.form-horizontal(action='/problems/detail/comment.html', name='form-supplement-editing')
						.form-group
							label.col-sm-2.control-label 番号
							.col-sm-10
								p.form-control-static 1
						.form-group
							label.col-sm-2.control-label 投稿者
							.col-sm-10
								a.show.form-control-static(href='/accounts/detail.html') 朝霧 涼夏
						.form-group
							label.col-sm-2.control-label(for='textarea-supplement-body') 本文
							.col-sm-10
								textarea.form-control#textarea-supplement-body(rows='10') 君もほかけっしてどういう諷刺心という訳のためを救うたあり。いくら場合に反抗方もとにかくそうした妨害たんかもを思っばいででも仕事要らないありが、全くとも出しないないありたい。大名に眺めたのはどうか当時にとうとうたなくだ。
						.text-right
							button.btn.btn-primary(type='submit') 更新
