extends /extends/_layout

block vars
	- signedIn = true
	- isProblems = true

block title
	+title('補足詳細')

block riot_tags
	+riot_script('supplement-detail')
	+riot_script('supplement-edit')

block content
	.page-header
		h1 補足詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#supplement-detail-tab(tabindex='1', role='tab', aria-controls='supplement-detail', href='#supplement-detail', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#supplement-edit-tab(tabindex='1', role='tab', aria-controls='supplement-edit', href='#supplement-edit', data-toggle='tab')
				i.fa.fa-edit
				|  編集
	.tab-content
		.tab-pane.in.active#supplement-detail(role='tabpanel', aria-labelledby='supplement-detail-tab')
			supplement-detail
		.tab-pane#supplement-edit(role='tabpanel', aria-labelledby='supplement-edit-tab')
			supplement-edit
