extends /extends/_layout

block vars
	- signedIn = true
	- isProblems = true

block title
	+title('質問詳細')

block riot_tags
	+riot_script('question-detail')
	+riot_script('question-edit')

block content
	.page-header
		h1 質問詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#question-detail-tab(tabindex='1', role='tab', aria-controls='question-detail', href='#question-detail', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#question-edit-tab(tabindex='1', role='tab', aria-controls='question-edit', href='#question-edit', data-toggle='tab')
				i.fa.fa-edit
				|  編集
	.tab-content
		.tab-pane.in.active#question-detail(role='tabpanel', aria-labelledby='question-detail-tab')
			question-detail
		.tab-pane#question-edit(role='tabpanel', aria-labelledby='question-edit-tab')
			question-edit
