TZ=Asia/Tokyo
RACK_ENV=development
# for ActiveRecord
RAILS_ENV=development

MYSQL_HOST=db
MYSQL_USER=ictsc_score_server
MYSQL_PASSWORD=ictsc_score_server
MYSQL_DATABASE=ictsc_score_server
MYSQL_ROOT_PASSWORD=ictsc_score_server

# API_SESSION_USE_REDIS=y
# API_SESSION_REDIS_SERVER=redis://redis:6379/0/rack:session
# API_SESSION_EXPIRE_SEC=2592000
API_SESSION_COOKIE_KEY=ictsc_score_server
API_SESSION_COOKIE_SECRET=change_me

# For realtime notification
REDIS_URL=redis://redis:6379/0
API_CONTEST_REDIS_REALTIME_NOTIFICATION_CHANNEL=realtime_notification

PLASMA_DEBUG=true
PLASMA_SUBSCRIBER_TYPE=redis
PLASMA_SUBSCRIBER_REDIS_ADDR=redis:6379
PLASMA_SUBSCRIBER_REDIS_CHANNELS=realtime_notification
PLASMA_SUBSCRIBER_REDIS_OVER_MAX_RETRY_BEHAVIOR=alive
PLASMA_SUBSCRIBER_REDIS_MAX_RETRY=5
PLASMA_SUBSCRIBER_REDIS_TIMEOUT=1s
PLASMA_SUBSCRIBER_REDIS_RETRY_INTERBAL=5s
PLASMA_ORIGIN="*"
