---
# https://github.com/adrienverge/yamllint
# https://yamllint.readthedocs.io/en/stable/
extends: default
rules:
  line-length: disable
  document-start: disable
  colons: disable
  empty-lines:
    max: 1
  comments-indentation: disable
ignore: |
  .bundle/
  .git-wt-*/
  tmp/
  log/
  logs/
  node_modules/
...
