h1.sr-only トップ

.l-column.l-column_size_1of3
  .l-row
    section
      .l-row__header
        h1.c-title お知らせ
      .l-row__body
        .l-row-panel(*ngFor="let notic of notices")
          section
            .l-row-panel__header
              h1.c-title
                i.fa.fa-fw.fa-thumb-tack(aria-hidden='true')
                | {{ notic.title }}
              button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集')
              button.p-text-button.p-text-button_type_cancel.pull-right(type='button') キャンセル
            .l-row-panel__body
              markdown([body]="notic.text")
            .l-row-panel__footer.u-cf
              button.p-icon-button.p-icon-button_type_delete.fa.fa-times.pull-left(type='button')
                span.p-icon-button__label 削除
              .p-post-meta.pull-right {{ notic.timestamps | time }}
  .l-row
    .l-row__body
      .l-row-panel
        section
          .l-row-panel__header
            h1.c-title お知らせ投稿
            .alert.alert-danger(*ngIf="postErr") {{ postErr }}
            .p-form-item
              input#checkbox-pinning(type='checkbox', name='pinning', [(ngModel)]="postObj.pinned")
              label.optional(for='checkbox-pinning')
                i.fa.fa-fw.fa-thumb-tack(aria-hidden='true')
                | お知らせ固定
          .l-row-panel__body
            .p-form-item
              label(for='input-panel-title') タイトル
              input#input-panel-title(type='text', name='panel-title', [(ngModel)]="postObj.title")
            .p-form-item
              label(for='textarea-panel-body') 本文
              textarea#textarea-panel-body(name='panel-body', [(ngModel)]="postObj.text")
          .l-row-panel__footer.u-cf
            button.p-button.p-button_color_green.pull-right(type='submit', (click)="postNotice()") 投稿
      .l-row-panel
        section
          .l-row-panel__header
            .p-form-item
              input#checkbox-pinning-2(type='checkbox', name='pinning')
              label.optional(for='checkbox-pinning')
                i.fa.fa-fw.fa-thumb-tack(aria-hidden='true')
                | お知らせ固定
            button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集')
            button.p-text-button.p-text-button_type_cancel.pull-right(type='button') キャンセル
            .p-form-item
              label(for='input-panel-title') タイトル
              input#input-panel-title-2(type='text', name='panel-title')
          .l-row-panel__body
            .p-form-item
              label(for='textarea-panel-body') 本文
              textarea#textarea-panel-body-2(name='panel-body')
          .l-row-panel__footer.u-cf
            button.p-icon-button.p-icon-button_type_delete.fa.fa-times.pull-left(type='button')
              span.p-icon-button__label 削除
            button.p-button.p-button_color_green.pull-right(type='submit') 更新
            .p-post-meta.pull-right 01/01 00:00 (
              span.elapsed 5
              |  分前)
      .l-row-panel
        section
          .l-row-panel__header
            section
              h1.c-title タイトル
            button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集')
          .l-row-panel__body
            p 本文本文本文本文本文本文本文本文
          .l-row-panel__footer.u-cf
            .p-post-meta.pull-right 01/01 00:00 (
              span.elapsed 5
              |  分前)
.l-column.l-column_size_1of3
  .l-row
    section
      .l-row__header
        h1.c-title 公開中の問題
      .l-row__body
        //- TODO New content
        a.l-row-panel(*ngFor="let problem of problems", [ngClass]="{'l-row-panel_type_new': false}", [routerLink]="['problems', problem.id]")
          l-row-panel__header
            p.p-supplement 解答締め切り
            span.c-closed-at {{ problem.closed_at | time }}
          .l-row-panel__body {{ problem.id }} {{ problem.title }}
.l-column.l-column_size_1of3
  .l-row
    section
      .l-row__header
        h1.c-title 質問・補足のアップデート
      .l-row__body
        a.l-row-panel(*ngFor="let notification of notifications", [routerLink]="notification.link")
          .l-row-panel__header([ngSwitch]="notification.resource")
            span.p-notification-label.p-notification-label_type_supplement(*ngSwitchCase="'Problem'") 問題
            span.p-notification-label.p-notification-label_type_question(*ngSwitchCase="'Comment'") 質問・補足
            span.p-notification-label(*ngSwitchDefault) その他
          .l-row-panel__body {{ notification.resource_id }} {{ notification.text }}
          .l-row-panel__footer.u-cf
            .p-post-meta.pull-right {{ notification.created_at | time }}
        //- .l-row-panel
        //-   .l-row-panel__header
        //-     span.p-notification-label.p-notification-label_type_question 質問
        //-   .l-row-panel__body
        //-     a(href='/problem-detail-question.html') xxxxxのxxについて
        //-   .l-row-panel__footer.u-cf
        //-     .p-post-meta.pull-right 01/01 00:00 (
        //-       span.elapsed 5
        //-       |  分前)
        //- .l-row-panel
        //-   .l-row-panel__header
        //-     span.p-notification-label.p-notification-label_type_supplement 補足
        //-   .l-row-panel__body
        //-     a(href='/problem-detail.html') 1 ちょーーーーーーーーーーーーながいタイトルがついてる問題に補足が追加されました。
        //-   .l-row-panel__footer.u-cf
        //-     .p-post-meta.pull-right 01/01 00:00 (
        //-       span.elapsed 5
        //-       |  分前)
        //- .l-row-panel
        //-   .l-row-panel__header
        //-     span.p-notification-label.p-notification-label_type_question 質問
        //-   .l-row-panel__body
        //-     a(href='/problem-detail-question.html') xxxxxのxxについて
        //-   .l-row-panel__footer.u-cf
        //-     .p-post-meta.pull-right 01/01 00:00 (
        //-       span.elapsed 5
        //-       |  分前)
