div(*ngIf="isAdmin")
  h1.p-page-title.p-page-title_type_bordered.p-page-title_size_full.text-left コンテストサイト利用ガイド (運営向け)

  .p-page-description
    h2.page-description__title コンテストサイトとは：
    p.page-description__body
      | 午前、午後のパートに分かれて問題の出題を行います。
      br
      | 各チームの問題ごとに採点、質問への回答を行ってください。

  .p-section.p-section--large.p-section--with-icon
    .p-section__body
      h3.p-section__title トップページの用途
      p お知らせや新着の質問回答などの通知を掲載しています。逐次目を通すようにしてください。

  .p-section.p-section--large.p-section--with-icon
    .p-section__body
      h3.p-section__title 参加者側の用途
      ul
        li 出題された問題に対して解答
        li 必要があれば各問題ごとに質問

  .p-section.p-section--large.p-section--with-icon
    .p-section__body
      h3.p-section__title 運営側の用途
      .p-section.p-section--small
        h4.p-section__title ・問題を出題
        .p-section__body
          p 問題一覧より出題を行ってください。

      .p-section.p-section--small
        h4.p-section__title ・解答を採点
        .p-section__body
          p
            | 採点は採点ページより各チームの問題ごとに採点してください。
            br
            | ※ 原則、採点者は問題ひとつにつき一人の担当

      .p-section.p-section--small
        h4.p-section__title ・質問に対して解答
        .p-section__body
          p コンテスト中、参加者は必要に応じて問題に質問を行うことがありますので、質問が到着し次第回答を行ってください。

      .p-section.p-section--small
        h4.p-section__title ・質問ラベルについて
        .p-section__body
          p
            | 質問が解決した場合、ラベルをクリックして表示を切り替えてください。到着質問一覧でラベルの状態が反映されます。
            br
            | ラベル切替は参加者と運営側担当者の双方が行えます。
            br
            | また、解決ラベルになっていても、引き続き回答を要する場合は再度対応中に戻すことができます。
            br
            img.p-margined-image(src="/assets/img/guide/sample-question-label.png", alt="", srcset="/assets/img/guide/sample-question-label.png 1x, /assets/img/guide/sample-question-label@2x.png 2x")

      .p-section.p-section--small
        h4.p-section__title ・ラベルフィルターの役割
        .p-section__body
          p ラベルフィルターは質問や問題の解答状況をフィルタリングすることができます。
          dl.p-image-dl
            dt.p-image-dl__term 質問ページのサンプル：
            dd.p-image-dl__image
              img(src="/assets/img/guide/sample-label-filter-question.png", alt="", srcset="/assets/img/guide/sample-label-filter-question.png 1x, /assets/img/guide/sample-label-filter-question@2x.png 2x")
            dt.p-image-dl__term 解答ページのサンプル：
            dd.p-image-dl__image
              img(src="/assets/img/guide/sample-label-filter-answer.png", alt="", srcset="/assets/img/guide/sample-label-filter-answer.png 1x, /assets/img/guide/sample-label-filter-answer@2x.png 2x")

div(*ngIf="!isAdmin")
  h1.p-page-title.p-page-title_type_bordered.p-page-title_size_full.text-left コンテストサイト利用ガイド

  .p-page-description
    h2.page-description__title コンテストサイトとは：
    p.page-description__body
      | 午前、午後のパートに分かれて問題が出題されます。
      br
      | 各問題ごとに解答、質問を行ってください。

  .p-section.p-section--large.p-section--with-icon
    .p-section__body
      h3.p-section__title トップページの用途
      p お知らせや新着の質問などの通知を掲載しています。逐次目を通すようにしてください。

  .p-section.p-section--large.p-section--with-icon
    .p-section__body
      h3.p-section__title 解答の仕方
      ul
        li 問題を選択し、分かったことはどんどん記入して投稿してください。

  .p-section.p-section--large.p-section--with-icon
    .p-section__body
      h3.p-section__title 質問の仕方
      ul
        li 問題に関する質問があった場合は、その問題の質問フォームより投稿してください。追って運営が回答いたします。

      .p-section.p-section--small
        h4.p-section__title ・質問ラベルについて
        .p-section__body
          p
            | 質問が解決した場合、ラベルをクリックして表示を切り替えてください。到着質問一覧でラベルの状態が反映されます。
            br
            | ラベル切替は参加者と運営側担当者の双方が行えます。
            br
            | また、解決ラベルになっていても、引き続き回答を要する場合は再度対応中に戻すことができます。
            br
            img.p-margined-image(src="/assets/img/guide/sample-question-label.png", alt="", srcset="/assets/img/guide/sample-question-label.png 1x, /assets/img/guide/sample-question-label@2x.png 2x")

      .p-section.p-section--small
        h4.p-section__title ・ラベルフィルターの役割
        .p-section__body
          p ラベルフィルターは質問の回答状況をフィルタリングすることができます。
          dl.p-image-dl
            dt.p-image-dl__term 質問ページのサンプル：
            dd.p-image-dl__image
              img(src="/assets/img/guide/sample-label-filter-question.png", alt="", srcset="/assets/img/guide/sample-label-filter-question.png 1x, /assets/img/guide/sample-label-filter-question@2x.png 2x")

div
    h1.p-page-title.p-page-title_type_bordered.p-page-title_size_full.text-left CloudStack Web Console の使用方法

    .p-section.p-section--large.p-section--with-icon
      .p-section__body
        h2.p-section__title ログイン
        p CloudStackにアクセスし、以下のように情報を入力してください。

        .p-section.p-section--small
          .p-section__body
            ul
              li Username : team[team番号]-user
              li Pass : 配布したteamコード
              li Domain : team[team番号]
            p
              img.p-margined-image(src="/assets/img/guide/guide-cloudstack-01.png", width='800')
            p ログインすると、以下のような画面に遷移するので、赤い枠で示している「Instances」をクリックしてください。
              img.p-margined-image(src="/assets/img/guide/guide-cloudstack-02.png", width='800')
            p Instances一覧画面から、コンソールを使いたいVMをクリックしてください。
              img.p-margined-image(src="/assets/img/guide/guide-cloudstack-03.png", width='800')
            p 以下の画面の赤い枠のところをクリックしてください。
              img.p-margined-image(src="/assets/img/guide/guide-cloudstack-04.png", width='800')
            p 以下のようにWebコンソールが開けます。もしもエラーが出た場合などは運営へご連絡ください。
              img.p-margined-image(src="/assets/img/guide/guide-cloudstack-05.png", width='800')

    .p-section.p-section--large.p-section--with-icon
      .p-section__body
        h2.p-section__title 注意事項
        ul
          li Webコンソールはやや動きが遅いため、ご注意ください。
          li 他の画面も見ることは可能ですが、問題の不具合が起きる場合があるためなるべく他の操作は行わないようにお願い致します。
