h1 スコアサーバの案内

p.
  午前、午後のパートに分かれて問題が出題されます。
  スコアサーバでは各問題ごとに解答、質問を行ってください。

h2 ページについて

ul
  li トップページ
    p お知らせや新着の質問回答などの通知を掲載しています。逐次目を通すようにしてください。
  li 問題
  dl
    dt 解答
    dd 分かったことはどんどん記入して投稿してください。
    dt 質問
    dd その問題に関する質問を投稿してください。追って運営が回答いたします。
    dd
      dl
        dt ラベルについて
        dd.
          質問が解決した場合、ラベルをクリックして表示を切り替えてください。
          また、解決ラベルになっていても再度対応中に戻すことができます。
  li チーム
    p 自分のチームのメンバーや解答状況が閲覧できます。
