extends /extends/_layout

block title
	+title('解答と採点')

block content

	h1.p-page-title 解答と採点

	.c-filter-list.c-filter-list_type_bordered
		.c-filter-list__heading ラベルフィルター
		.c-filter-list__item
			button.p-state-label.p-state-label__all 全て
		.c-filter-list__item
			button.p-state-label.p-state-label__no-response 未採点
		.c-filter-list__item
			button.p-state-label.p-state-label__resolved 採点済み
		.c-filter-list__item
			button.p-state-label.p-state-label__in-progress 提出なし

	.c-problem-state-list
		.c-problem-state-list__item
			.c-problem-name 問題 2 ちょーーーーーーーーーーながいタイトルがついてる前の問題
			| を採点
			.c-deadline.pull-right
				i.fa.fa-fw.fa-hourglass-start
				span 01/01 00:00
			.c-answer-list
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__in-progress(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 3 少しながめのチーム名
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__in-progress(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 3 少しながめのチーム名
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
		.c-problem-state-list__item
			.c-problem-name 問題 1 もんだいタイトル
			| を採点
			.c-deadline.pull-right
				i.fa.fa-fw.fa-hourglass-start
				span 01/01 00:00
			.c-answer-list
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__in-progress(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 3 少しながめのチーム名
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__in-progress(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 3 少しながめのチーム名
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
		.c-problem-state-list__item
			.c-problem-name 問題 1 もんだいタイトル
			| を採点
			.c-deadline.pull-right
				i.fa.fa-fw.fa-hourglass-start
				span 01/01 00:00
			.c-answer-list
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__in-progress(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 3 少しながめのチーム名
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
				.c-answer-list__item
					a.p-state-label.p-state-label__in-progress(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 3 少しながめのチーム名
				.c-answer-list__item
					a.p-state-label.p-state-label__no-response(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 1 ○×チーム
				.c-answer-list__item
					a.p-state-label.p-state-label__resolved(href='/problem-detail-both.html')
						i.fa.fa-fw.fa-chevron-right
						| 2 ごらく部
