extends /extends/_layout

block title
	+title('赤座あかり - メンバー詳細')

block content

	h1.p-page-title.p-page-title_type_bordered.p-page-title_with_button
		.p-page-title__left
			.p-page-title__entry-number
				i.fa.fa-fw.fa-user
				| Member no.
				.c-figure  1
		.p-page-title__right
			span.c-member-name 赤座あかり
		button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集')

	.form-horizontal.u-member-detail.center-block
		.form-group
			label.col-xs-2.control-label メンバー ID
			.col-xs-10
				p.form-control-static akkarin
					button.p-icon-button.fa.fa-pencil(type='button', aria-label='編集')
		.form-group
			label.col-xs-2.control-label ロール
			.col-xs-10
				p.form-control-static Participant
					button.p-icon-button.fa.fa-pencil(type='button', aria-label='編集')
		.form-group
			label.col-xs-2.control-label.separator
				i.fa.fa-circle
		.form-group
			label.col-xs-2.control-label 所属
			.col-xs-10
				p.form-control-static 七森中学校
					button.p-icon-button.fa.fa-pencil(type='button', aria-label='編集')
		.form-group
			label.col-xs-2.control-label チーム
			.col-xs-10
				p.form-control-static [Entry no.1] すこし長めのチーム名
					button.p-icon-button.fa.fa-pencil(type='button', aria-label='編集')
