extends /extends/_layout

block title
	+title('問題一覧')

block content

	h1.p-page-title 問題一覧

	table
		thead
			tr
				th.c-group-heading(colspan='2') 1 日目 - 午後問題
				th 締切
				th 質問
				th 公開
		tbody
			tr
				th 問題 1
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td.c-close-to-due
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 2
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td.c-close-to-due
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 3
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td.c-close-to-due
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 4
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td.c-close-to-due
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 5
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td.c-close-to-due
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00

	table
		thead
			tr
				th.c-group-heading(colspan='5') 2 日目 - 午前問題
		tbody
			tr
				th 問題 1
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 2
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 3
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 4
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 5
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00

	table
		thead
			tr
				th.c-group-heading(colspan='5') 2 日目 - 午後問題
		tbody
			tr
				th 問題 1
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 2
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 3
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 4
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr
				th 問題 5
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00

	table
		thead
			tr
				th.c-group-heading(colspan='5') 1 日目 - 午前問題
		tbody
			tr.past-due
				th 問題 1
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr.past-due
				th 問題 2
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr.past-due
				th 問題 3
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr.past-due
				th 問題 4
				td
					a(href='/member-detail.html') ちょーーーーーーーーーーながいタイトルがついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 3 (1 時間前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00
			tr.past-due
				th 問題 5
				td
					a(href='/problem-detail.html') 普通の長さのタイトル名がついてる問題
				td
					i.fa.fa-fw.fa-hourglass-start
					| 01/01 00:00
				td
					i.fa.fa-fw.fa-question-circle
					| 2 (3 分前)
				td
					i.fa.fa-fw.fa-arrow-circle-up
					| 01/01 00:00

	form(name='create-problem', action='#').p-form-panel.p-form-panel_size_large
		.p-form-item
			label(for='input-problem-name') 新規問題タイトル
			input#input-problem-name(type='text', name='problem-name')
		.p-form-item
			label(for='textarea-problem-body') 新規問題本文
			textarea#textarea-problem-body(type='text', name='problem-body')
		.p-form-item
			label(for='input-due-datetime') 締切日時
			input#input-due-datetime(type='datetime-local', name='due-datetime', value='2016-08-27T10:00')
		button.p-button.p-button_color_green.p-button_size_large.center-block(type='submit') 問題投稿
