extends /extends/_layout

block title
	+title('サインイン')

block content

	h1.page-title.page-title_type_bordered サインイン

	form.form-panel(name='form-signin', action='/dashboard.html')

		.form-item
			label(for='input-member-id') メンバー ID
			input#input-member-id(type='text', name='member-id')
			p.supplement 半角英数字、ハイフン("-")、アンダースコア("_")、ピリオド(".")、xx 〜 xx 文字

		.form-item
			label(for='input-password') パスワード
			input#input-password(type='password', name='password')

		button.button.button_color_green.button_size_large.button_of_signin.center-block(type='submit') サインイン

		a.alternative-link(href='/signup.html') サインアップはこちら
