extends /extends/_layout

block vars
	- signedIn = true
	- isAnswers = true

block title
	+title('解答一覧')

block riot_tags
	+riot_script('answer-list')

block content
	.page-header
		h1 解答一覧
	.table-responsive
		answer-list