- var site_name = 'ICTSC6'

mixin title(page_name)
	if page_name == ''
		title #{site_name}
	else
		title #{page_name} - #{site_name}

doctype html
html

	head

		block meta
			meta(charset='UTF-8')
			meta(name='viewport', content="width=device-width, initial-scale=1.0")
			meta(http-equiv='X-UA-Compatible', content='IE=edge')

		block title
			+title('')

		block stylesheets
			link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
			link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
			link(rel='stylesheet', href='/assets/dist/css/style.min.css')

	body

		header
			include /includes/_header

		main
			.container
				block content
					p コンテンツがありません。

		footer
			include /includes/_footer

		block scripts
			script(src='/bower_components/jquery/dist/jquery.min.js')
			script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
			script(src='/bower_components/fastclick/lib/fastclick.js')
			script.
				$(function() {
					FastClick.attach(document.body)
				})
