.main-header
  %span.main-title ANSWERS
  %span.main-title-sub
.main-content-wrap-sub
  .main-content-header
    %span.main-content-title NEW ANSWER
    %span.main-title-sub
  .answer-form-wrap
    %form{"accept-charset": "utf-8", action: "answer.html", method: "post"}
      .form-item
        %select.answer-select{name: "answer-select"}
          %option{value: " "} Please choose a problem to answer.
          %option{value: "problems01"} #1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          %option{value: "problems02"} #2 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          %option{value: "problems03"} #3 Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          %option{value: "problems04"} #4 Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      .form-item
        %textarea.answer-text{name: "answer-text", placeholder: "Please enter your answer."}
      .button-wrap
        %input.button{title: "submit", type: "submit", value: "SUBMIT"}
.main-content-wrap-sub
  .main-content-header
    %span.main-content-title ANSWER LIST
    %span.main-title-sub
  .answer-list-wrap
    .answer-list-item.clearfix
      .answer-list-info
        .answer-list-title Issues No.
        .answer-list-info-main #1
        .answer-list-title Post Time
        .answer-list-info-main 2/27 10:40
      .answer-list-main
        .answer-list-main-title
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .answer-list-title Your Answer
        .answer-list-text
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
    / 2つ目
    .answer-list-item.clearfix
      .answer-list-info
        .answer-list-title Issues No.
        .answer-list-info-main #1
        .answer-list-title Post Time
        .answer-list-info-main 2/27 10:20
      .answer-list-main
        .answer-list-main-title
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .answer-list-title Your Answer
        .answer-list-text
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
