.main-header
  %span.main-title 閲覧可能ページ一覧
  %span.main-title-sub
.main-content-wrap-sub
  %p
    回答ページと質問ページは要修正
    %br/
    運営者用回答一覧ページ製作予定
  %ul
    %li
      %a{href: to("/signin")} ログイン
    %li
      %a{href: to("/problems")} 問題一覧
    %li
      %a{href: to("/problem")} 問題詳細
    %li
      %a{href: to("/answers")} 回答ページ
    %li
      %a{href: to("/issues")} 質問ページ
