.main-header
  %span.main-title QUESTION
  %span.main-title-sub
.main-content-wrap-sub
  .main-content-header
    %span.main-content-title NEW QUESTION
    %span.main-title-sub
  .answer-form-wrap
    %form{"accept-charset": "utf-8", action: "answer.html", method: "post"}
      .form-item
        %select.answer-select{name: "answer-select"}
          %option{value: " "} Please choose a problem to question.
          %option{value: "problems01"} #1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          %option{value: "problems02"} #2 Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          %option{value: "problems03"} #3 Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          %option{value: "problems04"} #4 Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      .form-item
        %textarea.answer-text{name: "answer-text", placeholder: "Please enter your question."}
      .button-wrap
        %input.button{title: "submit", type: "submit", value: "SUBMIT"}
.main-content-wrap-sub
  .main-content-header
    %span.main-content-title QUESTION LIST
    %span.main-title-sub
  .answer-list-wrap
    .answer-list-item.clearfix
      .answer-list-info
        .answer-list-info-main Master
      .answer-list-main
        .answer-list-main-title
          \#1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .answer-list-text
          Please think on their own...
        .answer-list-footer-info 2/27 10:24
    / 2つ目
    .answer-list-item.clearfix
      .answer-list-info
        .answer-list-info-main Me
      .answer-list-main
        .answer-list-main-title
          \#1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        .answer-list-text
          Is this problem and do not know at all should I do if there?
        .answer-list-footer-info 2/27 10:20
