%link(rel="stylesheet"){href: to("/css/style.css")}

.header-wrap
  %header.header-content
    .account-display
      %span Sample School
      %ul.account-menu
        %li.account-menu-button
          %ul
            %li
              %a{:href => ""} My Account
            %li
              %a{:href => ""} Sign Out
    %h1.header-logo
      %a{:href => ""} ICTSC5
  .header-gnav-wrap
    %nav.header-gnav
      %ul.clearfix
        %li
          %a{:href => "index.html"} TOP
        %li
          %a{:href => "issues.html"} ISSUES
        %li
          %a{:href => "answer.html"} ANSWER
        %li
          %a{:href => "question.html"} QUESTION
        %li
          %a{:href => "infomation.html"} INFOMATION
.main-wrap.clearfix
  .main-content
    /
      .breadcrumbs
        %ul
          %li
            %a(href="") TOP
          %li
            %a(href="") ISSUES
    .main-content-wrap
      .main-header
        %span.main-title ISSUES
        %span.main-title-sub
      .main-content-wrap-sub
        %table.issues-table
          %caption
          %thead
            %tr.table-header
              %th.table-no #
              %th.table-title Title
              %th.table-duedate Due date
              %th.table-updated Updated
          %tbody
            %tr{"data-href" => "issues-01.html"}
              %th.table-no
                \#1
              %th.table-title
                %a{:href => "issues-01.html"} Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              %th.table-duedate 12:00
              %th.table-updated 10:00
            %tr{"data-href" => ""}
              %th.table-no
                \#2
              %th.table-title
                %a{:href => "issues-01.html"} Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              %th.table-duedate 12:00
              %th.table-updated 10:00
            %tr{"data-href" => ""}
              %th.table-no
                \#3
              %th.table-title
                %a{:href => "issues-01.html"} Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              %th.table-duedate 12:00
              %th.table-updated 10:00
            %tr{"data-href" => "issues-01.html"}
              %th.table-no
                \#4
              %th.table-title
                %a{:href => ""} Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
              %th.table-duedate 12:00
              %th.table-updated 10:00
    /
      .side
        .side-in
          .side-in-title Side Title
%footer.footer-wrap
  .footer-content.clearfix
    .copyright &#169; 2015 ICTSC. All Rights Reserved.
%script{:src => "js/animation.js", :type => "text/javascript"}
