!!!
%html(lang="ja")
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: "initial-scale=1.0, width=device-width", name: "viewport"}

    - @title ||= nil
    - if @title.nil?
      - @title = "ICTSC5"
    - else
      - @title += " | ICTSC5"
    %title= @title

    %link{rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Lato:700"}
    %link{rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Open+Sans:400"}

    -# css
    %link{rel: "stylesheet", href: to("/normalize.css")}
    %link{rel: "stylesheet", href: to("/css/style.css")}

    -# favicon
    -# %link(rel="shortcut icon"){href: to("/favicon.ico")}

    -# ie
    /[if lt IE 9]
      %script{src: "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
      %script{src: "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}

      -# %script{src: = rocketio_js}
      -# :javascript
      -#   var io = new RocketIO().connect();

      -#   io.on("connect", function() {
      -#     console.log("connected");
      -#   })

      -#   io.on("message", function(e) {
      -#     console.log(e);
      -#   })

  %body
    %script{src: "https://code.jquery.com/jquery-2.2.1.min.js"}

    .header-wrap
      %header.header-content
        .account-display
          %span Sample School
          %ul.account-menu
            %li.account-menu-button
              %ul
                %li
                  %a{href: ""} My Account
                %li
                  %a{href: to("/signin")} Sign Out
        %h1.header-logo
          %a{href: ""} ICTSC5
      .header-gnav-wrap
        %nav.header-gnav
          %ul.clearfix
            %li
              %a{href: to("/")} TOP
            %li
              %a{href: to("/problems")} PROBLEMS
            %li
              %a{href: to("/answers")} ANSWER
            %li
              %a{href: to("/issues")} QUESTION
            %li
              %a{href: to("/information")} INFORMATION
    .main-wrap.clearfix
      .main-content
        .main-content-wrap
          = yield if block_given?

    %footer.footer-wrap
      .footer-content.clearfix
        .copyright &#169; 2015 ICTSC. All Rights Reserved.

    %script{src: "js/animation.js", type: "text/javascript"}
    -# %script{src: "/js/script.js"}
