.main-header
  %span.main-title PROBLEMS
  %span.main-title-sub
.main-content-wrap-sub
  %table.problems-table
    %caption
    %thead
      %tr.table-header
        %th.table-no #
        %th.table-title Title
        %th.table-duedate Due date
        %th.table-updated Updated
    %tbody
      %tr{"data-href": to("/problems/1")}
        %th.table-no
          \#1
        %th.table-title
          %a{href: to("/problems/1")} Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        %th.table-duedate 12:00
        %th.table-updated 10:00
      %tr{"data-href": to("/problems/2")}
        %th.table-no
          \#2
        %th.table-title
          %a{href: to("/problems/2")} Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        %th.table-duedate 12:00
        %th.table-updated 10:00
      %tr{"data-href": to("/problems/3")}
        %th.table-no
          \#3
        %th.table-title
          %a{href: to("/problems/3")} Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        %th.table-duedate 12:00
        %th.table-updated 10:00
      %tr{"data-href": to("/problems/4")}
        %th.table-no
          \#4
        %th.table-title
          %a{href: to("/problems/4")} Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        %th.table-duedate 12:00
        %th.table-updated 10:00
