%link(rel = "stylesheet" href = "css/signin.css")

.main-wrap.clearfix
  .main-content
    .header-logo
      %a{:href => ""} ICTSC5
    .form-message Enter your email address and password.
    %form
      .form-item
        %label{:for => "email"}
        %input{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email"}/
      .form-item
        %label{:for => "password"}
        %input{:name => "password", :placeholder => "Password", :required => "required", :type => "password"}/
      .button-wrap
        %input.button{:title => "Sign In", :type => "submit", :value => "Sign In"}/
    .fpass
      %a{:href => ""} Forgot password?
%script{:src => "js/animation.js", :type => "text/javascript"}
