%link{rel: "stylesheet", href: to("/css/signin.css")}

.main-wrap.clearfix
  .main-content
    .header-logo
      %a{href: ""} ICTSC5
    .form-message Enter your email address and password.
    %form
      .form-item
        %label{for: "login"}
        %input{type: "text", name: "login", placeholder: "Login ID", required: true}
      .form-item
        %label{for: "password"}
        %input{type: "password", name: "password", placeholder: "Password", required: true}
      -# .form-error Email address or password is incorrect.
      .button-wrap
        %input.button{type: "submit", title: "Sign In", value: "Sign In"}
    .fpass
      %a{href: ""} Forgot password?
%script{src: "js/animation.js"}
