extends /extends/_layout

block vars
	- signedIn = true
	- isQuestions = true

block title
	+title('質問一覧')

block riot_tags
	+riot_script('question-list')

block content
	.page-header
		h1 質問一覧
	.table-responsive
		question-list
