[contenteditable=true] {
    border: 1px solid #ccc;
    border-radius: 5px;
}
span.p-notification-label.p-notification-label_type_problem_comment {
    background-color: #efd5ff;
}

button.p-state-label.active {
    border: 3px solid rgba(0,0,0,.25);
}

.c-question-comment {
    position: relative;
}

.u-member-detail .p-button {
    display: inline;
    margin: 10px;
}

.c-message {
	min-width: 60%;
    position: relative;
}
