- var signedIn = true
- var isAccounts = true
- var isTeams = true
- var isProblems = true
- var isQuestions = true
- var isAnswers = true

header
  .p-header.u-cf
    a([routerLink]="['/']")
      img.c-logo(src='/assets/img/logo/ictsc-logo-white.svg', width='117', height='50' alt='ICTSC のロゴ')
    .p-header__left
      ul.p-list
        li.p-list__item
          a([routerLink]="['guide']") ガイド
        li.p-list__item(*ngIf="loginMember")
          a([routerLink]="['members']") メンバー
        li.p-list__item(*ngIf="loginMember && isAdmin")
          a([routerLink]="['teams']") チーム
        li.p-list__item(*ngIf="loginMember?.team_id")
          a([routerLink]="['teams', loginMember?.team_id]") ({{ loginMember?.team?.name }})
    .p-header__right
      ul.p-list
        li.p-list__item
          a([routerLink]="['/']") トップ
            //- .notification-badge
        li.p-list__item(*ngIf="loginMember")
          a([routerLink]="['problems']") 問題
        li.p-list__item(*ngIf="loginMember")
          a([routerLink]="['issues']") 質問
        li.p-list__item(*ngIf="loginMember")
          a([routerLink]="['answers']", *ngIf="isAdmin") 解答
        li.p-list__item(*ngIf="loginMember")
          a((click)="logout()") ログアウト
    //- .c-clock
    //-   .c-clock__date {{ datetime.date }}
    //-   .c-clock__time {{ datetime.time }}
    mainclock

main
  .p-container.u-cf
    router-outlet
