$color-primary: #e6003b;

@import './partials.bootstrap.scss';

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 70px;
	padding-bottom: 70px;
}

a {
	color: $color-primary;

	&:hover,
	&:focus {
		color: darken($color-primary, 5%);
	}
}

.navbar-button {
	color: #fff;
	background-color: transparent;
	padding: 15px;
	border: none;

	&:hover {
		background-color: darken($color-primary, 5%);
	}
}

.notifications {

	li {
		padding: 10px 20px;
		border-bottom: 1px solid #ddd;

		a {
			display: inline-block;
			padding: 0;
		}

		.content {
			font-weight: bold;
			display: block;
			margin-top: 5px;
		}

		.meta {
			color: #737373;
			display: block;
			margin-top: 5px;
		}
	}

	.btn-readmore {
		color: $color-primary;
		margin-bottom: -5px;
	}
}

main {
	flex: 1;
}

.tab-content {
	margin-top: -1px;
}

.chatbox {

	ul {
		padding-left: 0;
		list-style: none;

		li {
			padding: 15px;
			border-bottom: 1px solid #ddd;

			.author {
				float: left;
			}

			.detail-link {
				float: right;
			}

			.comment-body {
				clear: both;
			}
		}
	}
}

footer {
	display: flex;
	justify-content: center;

	&.navbar {
		margin-bottom: 0;
	}

	.copyright {
		color: #fff;
		align-self: center;
		margin: 0;
	}
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	font-size: 16px !important;
}

@media (max-width: 767px) {

.navbar-nav {

	.open {

			.notifications {
				background-color: #fff;

				li {

					a {
						padding: 5px 15px 5px 25px;
					}
				}
			}
		}
	}
}
