- var signedIn = true
- var isAccounts = true
- var isTeams = true
- var isProblems = true
- var isQuestions = true
- var isAnswers = true

header

  .header.clearfix
    a([routerLink]="['/']")
      img.logo(src='/assets/img/logo/ictsc-logo-white.svg', width='117', height='50' alt='ICTSC のロゴ')
    .header__left
      ul.list
        li.list__item
          a([routerLink]="['members']") メンバー
        li.list__item
          a([routerLink]="['teams']") チーム
    .header__right
      ul.list
        li.list__item
          a([routerLink]="['/']") トップ
        li.list__item
          a([routerLink]="['problems']") 問題
        li.list__item
          a([routerLink]="['issue']") 質問
        li.list__item
          a(href='#') 解答
        li.list__item
          a(href='#') ログアウト
    .clock
      .clock__date 8/27
      .clock__time 13:02


.container
  router-outlet

.container
  footer(style="border-top: 1px solid #eee; margin: 20px 0; padding: 20px 0")
    ul.nav.nav-pills
      li(*ngFor="let link of ['/','login', 'members', 'teams', 'teams', 'problems', 'issue']")
        a([routerLink]="[link]") {{link}}
