extends /extends/_layout

block vars
	- signedIn = true
	- isAnswers = true

block title
	+title('スコア詳細')

block riot_tags
	+riot_script('score-detail')
	+riot_script('score-edit')

block content
	.page-header
		h1 スコア詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#score-detail-tab(tabindex='1', role='tab', aria-controls='score-detail', href='#score-detail', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#score-edit-tab(tabindex='1', role='tab', aria-controls='score-edit', href='#score-edit', data-toggle='tab')
				i.fa.fa-edit
				|  編集
	.tab-content
		.tab-pane.in.active#score-detail(role='tabpanel', aria-labelledby='score-detail-tab')
			score-detail
		.tab-pane#score-edit(role='tabpanel', aria-labelledby='score-edit-tab')
			score-edit
