extends /extends/_layout

block vars
	- signedIn = true
	- isAccounts = true

block title
	+title('アカウント詳細')

block riot_tags
	+riot_script('account-detail')
	+riot_script('account-edit')

block content
	.page-header
		h1 アカウント詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#account-detail-tab(tabindex='1', role='tab', aria-controls='account-detail', href='#account-detail', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#account-edit-tab(tabindex='1', role='tab', aria-controls='account-edit', href='#account-edit', data-toggle='tab')
				i.fa.fa-edit
				|  編集
	.tab-content
		.tab-pane.in.active#account-detail(role='tabpanel', aria-labelledby='account-detail-tab')
			account-detail
		.tab-pane#account-edit(role='tabpanel', aria-labelledby='account-edit-tab')
			account-edit