extends /extends/_layout

block vars
	- signedIn = true
	- isAccounts = true

block title
	+title('アカウント一覧')

block riot_tags
	+riot_script('account-list')
	+riot_script('account-create')

block content
	.page-header
		h1 アカウント一覧
	.table-responsive
		account-list
	.page-header
		h2 アカウント作成
	account-create