$color-primary: #e6003b;

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	font-size: 16px !important;
}

input[type='checkbox'] {
	display: inline-block;
	vertical-align: text-bottom;
	width: 1em;
	height: 1em;
	padding: 3px;
	border: 1px solid #95989a;
	border-radius: 0;
	background-color: transparent;
	background-clip: content-box;
	background-position: center;
	background-size: 0;
	background-repeat: no-repeat;
	transition: background-color 0.1s ease;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type='checkbox']:checked {
	background-color: #393b3c;
}

body {
	color: #393b3c;
}

a {
	color: inherit;
	text-decoration: none;
}

label {
	display: inline-block;
	margin-bottom: 4px;

	&.optional {
		vertical-align: middle;
		color: #95989a;
		font-size: 0.8em;
	}
}

select,
textarea,
input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding: 8px 10px;
	border: 1px solid #95989A;
	border-radius: 3px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
}

select {
	padding: 8px 16px 8px 10px;
}

pre {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 0.8em;
	line-height: 1.6;
	background-color: #6a6a6a;
}

table {
	width: 100%;
	margin-bottom: 40px;

	thead {
		color: #95989A;

		th {
			padding-right: 15px;
			padding-bottom: 10px;
			padding-left: 15px;
			font-weight: normal;

			&.c-group-heading {
				color: #fdbbcc;
			}

			&.sort {
				&::before {
					display: inline-block;
					margin-right: 4px;
					margin-left: 4px;
					content: "\f054";
					font-size: 0.8em;
					font-family: 'FontAwesome';
				}

				&.sort_direction_asc {
					&::before {
						transform: rotateZ(-90deg);
					}
				}

				&.sort_direction_desc {
					&::before {
						transform: rotateZ(90deg);
					}
				}
			}
		}
	}

	tbody {

		tr {

			&.past-due {
				opacity: 0.4;
			}
		}

		th {
			padding-right: 15px;
			padding-left: 15px;
		}

		td {
			padding-right: 15px;
			padding-left: 15px;

			&.c-close-to-due {
				color: #f00;
			}
		}
	}
}

tr {
	border-bottom: 1px solid #fdbbcc;

	td {
		padding: 8px;
	}
}

.u-cf:after {
	content: "";
	clear: both;
	display: block;
}

.u-flex {
	display: flex;
}

.fa-thumb-tack {
	transform: rotateZ(45deg);
}

.p-container {
	position: relative;
	box-sizing: border-box;
	max-width: 1366px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}

.p-header {
	position: relative;
	box-sizing: border-box;
	min-height: 50px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 40px;
	color: #fff;
	text-align: center;
	background-color: $color-primary;

	.p-header__left {
		float: left;
	}

	.p-header__right {
		float: right;
	}
}

.p-list {
	padding: 0;
	margin: 0;

	.p-list__item {
		display: inline-block;

		a {
			position: relative;
			display: inline-block;
			padding: 15px 10px;
			color: #fff;
			text-decoration: inherit;

			.notification-badge {
				position: absolute;
				top: 12px;
				right: 2px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #fff;
			}
		}
	}
}

.c-logo {
	float: left;
}

.c-clock {
	position: absolute;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.4em;
	pointer-events: none;

	.c-clock__date {
		display: inline-block;
		width:4em;
		padding-right: 1em;
		text-align: right;
	}

	.c-clock__time {
		display: inline-block;
		width:4em;
		padding-left: 1em;
		border-left: 1px solid #fdbbcc;
		text-align: left;
	}
}

.p-page-title {
	position: relative;
	max-width: 600px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	font-weight: bold;
	text-align: center;

	.p-page-title__left {
		float: left;
		margin-right: 50px;
	}

	.p-page-title__right {
		overflow: hidden;
		font-size: 0.8em;
		font-weight: normal;
		text-align: left;
	}

	&.p-page-title_type_bordered {
		border-bottom: 1px solid #fdbbcc;
	}

	&.p-page-title_with_button {
		padding-top: 40px;
	}

	&.p-page-title_size_large {
		max-width: 1000px;
	}

	.p-page-title__entry-number {
		display: block;
		color: #95989a;
		font-size: 0.6em;
		line-height: 1.6;
		text-align: left;

		.c-figure {
			display: inline-block;
			color: #6C6E6F;
			font-size: 2em;
			font-weight: normal;
		}
	}

	.c-school-name {
		display: block;
		color: #6c6e6f;
		font-size: 0.6em;
		font-weight: normal;
		margin-bottom: 8px;
	}

	.c-team-name {
		font-size: 1.4em;
		font-weight: normal;
	}

	.c-member-name {
		font-size: 1.4em;
		font-weight: normal;
		line-height: 1.7;
	}

	.c-problem-number {
		margin-bottom: 5px;
		font-size: 0.6em;
		font-weight: normal;
		text-align: left;
	}

	.c-problem-name {
		text-align: left;
	}
}

.p-item-heading {
	max-width: 1000px;
	margin-top: 40px;
	margin-bottom: 4px;
	color: #95989a;
}

.p-form-panel {
	width: 300px;
	margin-right: auto;
	margin-left: auto;

	&.p-form-panel_size_large {
		width: 600px;
	}
}

.p-form-item {
	margin-bottom: 10px;

	&.p-form-item_type_inline {
		display: inline-block;

		&:not(:last-of-type) {
			margin-right: 15px;
		}
	}
}

.p-form-item select {
	height: 42px;
	background-color: #fff;
	background-image: linear-gradient(to right bottom, transparent 0%, transparent 50%, #95989a 50%, #95989a 100%),
						linear-gradient(to left bottom, transparent 0%, transparent 50%, #95989a 50%, #95989a 100%),
						linear-gradient(to right top, transparent 0%, transparent 50%, #95989a 50%, #95989a 100%),
						linear-gradient(to left top, transparent 0%, transparent 50%, #95989a 50%, #95989a 100%);
	background-size: 4px 6px;
	background-position: right 8px top 12px, right 4px top 12px, right 8px top 22px, right 4px top 22px;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.p-supplement {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #95989a;
	font-size: 12px;

	&.p-supplement__important {
		display: inline-block;
		font-weight: bold;
		color: #393b3c;
		font-size: 1em;
	}
}

.p-button {
	display: block;
	border: none;
	border-radius: 5px;
	padding: 5px 25px;
	margin-bottom: 10px;
	color: #fff;

	&.p-button_size_large {
		padding: 15px 60px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&.p-button_of_signin,
	&.p-button_of_signup {
		margin-top: 40px;
	}

	&.p-button_color_green {
		background-color: #47db8e;
	}

	&.p-button_color_yellow {
		color: #fff;
		background-color: #f0cc09;
	}
}

.p-icon-button {
	box-sizing: border-box;
	padding: 2px 10px;
	border: none;
	color: #393b3c;
	font-size: 1.2em;
	text-align: center;
	background-color: transparent;

	&.p-icon-button_type_edit {
		position: absolute;
		top: 0;
		right: 0;
	}

	&.p-icon-button_type_delete {
	}

	&::before {
		vertical-align: initial;
		font-size: 25px;
	}

	.p-icon-button__label {
		vertical-align: middle;
		margin-left: 4px;
		font-size: 0.6em;
	}

	&.p-icon-button_shape_circle {
		width: 55px;
		height: 55px;
		border-radius: 50%;
		color: #fff;
		background-color: #95989a;

		&.p-icon-button__label {
			font-size: 0.6em;
		}
	}
}

.c-floating-action-buttons {
	position: fixed;
	top: 80px;
	right: 20px;
	width: 55px;

	.p-icon-button_shape_circle {
		margin-bottom: 10px;
	}
}

.p-text-button {
	border: none;
	color: #95989a;
	font-size: 12px;
	background: none;

	&.p-text-button_type_cancel {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.alternative-link {
	display: block;
	color: #95989a;
	text-align: center;
}

.l-column {
	float: left;
	padding-right: 30px;
	padding-left: 30px;

	&.l-column_type_bordered {

		&:not(:first-of-type) {
			border-left: 1px solid #fdbbcc;
		}
	}

	&.l-column_size_1of3 {
		width: 33.33333333%;
		min-width: 340px;
	}

	&.l-column_size_1of2 {
		position: relative;
		width: 50%;
		min-width: 500px;

		&.l-column_size_expanded {
			position: absolute;
			z-index: 10000;
			width: 100%;
			height: 100%;
			padding-right: 45px;
			padding-left: 45px;
			margin-right: -15px;
			margin-left: -15px;
			background-color: #fff;
		}
	}
}

.c-closed-at {
	display: inline-block;
//	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.6em;
}

.p-button-toggle-width {
	&.p-button-toggle-width__left {
		position: absolute;
		top: 10px;
		right: 10px;
		display: block;
		width: 18px;
		height: 18px;
		padding: 0;
		border: 9px solid transparent;
		border-right: 9px solid #95989A;
		background-color: transparent;
	}
	&.p-button-toggle-width__right {
		position: absolute;
		top: 10px;
		left: 10px;
		display: block;
		width: 18px;
		height: 18px;
		padding: 0;
		border: 9px solid transparent;
		border-left: 9px solid #95989A;
		background-color: transparent;
	}
}

.l-row {
	margin-bottom: 30px;

	.l-row__header {

		.c-title {
			margin-bottom: 8px;
			font-size: 1.4em;
			font-weight: bold;
		}
	}

	.l-row__body {
		padding: 20px;
		border: 1px solid #fdbbcc;
	}
}

.l-row-panel {
	position: relative;

	&.l-row-panel_type_new {
		margin-top: -20px;
		margin-right: -20px;
		margin-left: -20px;
		padding: 20px 20px 0px 20px;
		background-color: #fcf0f0;
	}

	.l-row-panel__header {

		.c-title {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 1.2em;
			font-weight: normal;
		}
	}

	&:not(:last-of-type) {
		margin-bottom: 30px;
		background-image: linear-gradient(#fdbbcc, #fdbbcc);
		background-position: center bottom;
		background-size: 85% 1px;
		background-repeat: no-repeat;
	}

	.l-row-panel__body {
		padding-bottom: 20px;
	}

	.l-row-panel__footer {
		padding-bottom: 10px;
	}
}

.p-post-meta {
	clear: both;
	margin-top: 10px;
	color: #95989a;
	font-size: 0.8em;
}

.p-notification-label {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #797c7e;
	font-size: 0.8em;

	&.p-notification-label_type_supplement {
		background-color: #fceec2;
	}

	&.p-notification-label_type_question {
		background-color: #c2f1fc;
	}
}

.c-action-modal {
	display: none;
	box-sizing: border-box;
	padding: 15px 30px;
	border: 1px solid #95989a;
	border-radius: 10px;
	background-color: hsla(0, 0%, 92%, 0.95);

	&.c-action-modal_state_active {
		position: fixed;
		top: 80px;
		right: 90px;
		left: 30px;
		display: block;
	}
}

.c-team-panel-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.team-panel {
	display: block;
	flex-grow: 1;
	overflow: auto;
	min-width: 360px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	text-decoration: inherit !important;
	background-color: #ebebeb;

	.team-panel__left {
		float: left;
		margin-right: 20px;
	}

	.team-panel__right {
		overflow: hidden;
	}

	&.team-panel_type_form {
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
	}

	.c-team-name {
		padding-top: 20px;
		border-bottom: 1px solid #fff;
		margin-bottom: 5px;
		color: #6c6e6f;
		font-size: 1.6em;
	}

	.c-school-name {
		color: #95989a;
	}

	.c-total-score {
		color: #95989a;
		font-size: 0.6em;
		text-align: right;
	}
}

.c-entry-number {
	color: #95989a;
	line-height: 3.25;

	.c-entry-number__figure {
		color: #6c6e6f;
		font-size: 2.2em;

		input {
			width: 60px;
			margin-left: 10px;
		}
	}
}

.c-member-list {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 940px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;

	.c-member-list__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 148px;
		height: 148px;
		margin: 20px;
		border-radius: 50%;
		color: inherit;
		text-align: center;
		text-decoration: inherit;
		background-color: #ebebeb;

		.c-member-name {
			display: inline-block;
			font-size: 1.4em;
		}

		.c-member-id {
			display: inline-block;
		}
	}
}

.c-score-board {
	max-width: 800px;

	.c-total-score {
		position: relative;
		padding-top: 30px;
		border-bottom: 1px solid #fdbbcc;
		color: #6c6e6f;
		font-size: 2em;
		font-weight: bold;
		text-align: right;

		.c-total-score__figure {
			color: #e6003b;
			font-size: 1.8em;
		}
	}
}

.c-score-list {
	list-style-type: none;
	padding-right: 20px;
	padding-left: 20px;

	.c-score-list__item {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #fdbbcc;
		font-size: 1.2em;

		a {
			color: inherit;
		}

		.score-number {
			display: inline-block;
			padding-right: 15px;
			padding-left: 15px;
			text-align: center;
		}

		.problem-name {
			display: inline-block;
			width: 100%;
			max-width: 620px;
			padding-right: 15px;
			padding-left: 15px;
		}

		.score {
			display: inline-block;
			padding-right: 15px;
			padding-left: 15px;
			text-align: right;
		}
	}
}

.p-pagination {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	color: #95989a;
	font-size: 0.6em;

	.p-pagination__prev {
		color: inherit;
		float: left;
		margin-bottom: 10px;

		&::before {
			display: inline-block;
			margin-right: 8px;
			content: "<";
		}
	}
	.p-pagination__next {
		color: inherit;
		float: right;

		&::after {
			display: inline-block;
			margin-left: 8px;
			content: ">";
		}
	}
}

.c-problem-info {
	max-width: 1000px;
	margin-top: -30px;
	color: #95989a;
	font-size: 12px;
	text-align: right;
}

.c-problem-panel {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;

	a {
		margin-left: 10px;
	}

	.c-problem-panel__supplement {
		background-color: #fcf0f0;
		padding: 15px;
		border-radius: 10px;
	}
}

.p-state-label {
	display: inline-block;
	width: 70px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 0.8em;
	text-align: center;

	&.p-state-label__all {
		color: #95989A;
		background-color: #e8e8e8;
	}

	&.p-state-label__no-response {
		color: #f00;
		background-color: #ffb1bc;
	}

	&.p-state-label__in-progress {
		color: #8da700;
		background-color: #f1f7a6;
	}

	&.p-state-label__resolved {
		color: #00A353;
		background-color: #cbf5e0;
	}
}

.p-state-supplement {
	padding-right: 10px;
	padding-left: 10px;
	color: #95989a;
	font-size: 0.5em;
	text-align: center;
}

.c-tab {
	display: inline-block;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px 25px;
	color: #fd6d92;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #fff;
	box-sizing: border-box;

	&.c-tab_state_active {
		border: 1px solid #fdbbcc;
		border-bottom: 1px solid transparent;
	}
}

.c-tab-panel-heading {
	float: right;

	.p-button {
		display: inline-block;
		margin-top: 10px;
	}

	input {
		display: inline-block;
		width: 80px;
		margin-right: 10px;
		margin-left: 10px;
	}
}

.c-score {
	margin-right: 15px;
	float: left;
	font-size: 1.4em;
	font-weight: bold;

	.c-score__figure {
		color: #e6003b;
		font-size: 1.6em;
		padding-right: 10px;
		padding-left: 10px;
	}
}

.c-tab-panel {
	padding-top: 40px;
	border-top: 1px solid #fdbbcc;
	margin-top: -1px;

	.c-tab-panel__state-column {
		float: left;
		width: 70px;
		margin-right: 20px;
	}

	.c-tab-panel__content {
		overflow: hidden;
		margin-bottom: 20px;
	}
}

.c-message-panel {
	margin-bottom: 20px;

	a {
		margin-right: 10px;
	}

	.c-message-panel__name {
		font-size: 1.6em;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	&.c-message-panel_type_fixed {
		overflow: scroll;
		height: 60vh;
	}

	.c-message-panel__body {
		.p-posted-by {
			padding-bottom: 10px;
			border-bottom: 1px solid #fdbbcc;
			margin-top: 10px;
			margin-bottom: 10px;
			color: #95989a;
			font-size: 0.8em;
			text-align: right;
		}
		.p-posted-at {
			padding-bottom: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			color: #95989a;
			font-size: 0.8em;
			text-align: right;
		}
	}
}

.c-message {
	clear: both;
	max-width: 90%;
	border-radius: 5px;
	margin-bottom: 15px;

	&.c-message_of_own {
		position: relative;
		float: left;

		.c-message__body {
			background-color: #d8d8d8;
		}

		.c-message__footer {
			text-align: left;
		}

		.p-icon-button.p-icon-button_type_edit {
			right: -40px;
		}
	}

	&.c-message_of_others {
		float: right;

		.c-message__body {
			background-color: #f0f0f0;
		}

		.c-message__footer {
			text-align: right;
		}
	}

	&.c-message_of_general {
		width: 100%;
		margin-top: 20px;

		.c-message__body {
			border-bottom: 1px solid #fdbbcc;
		}

		.c-message__footer {
			text-align: right;
		}
	}

	.c-message__body {
		padding: 10px 20px;
		border-radius: 5px;

		&.message_type_answer {
			border-radius: 0;
		}
	}

	.c-message__footer {
		margin-bottom: 10px;
	}
}

.c-filter-list {
	padding-bottom: 20px;
	text-align: center;

	&.c-filter-list_type_bordered {
		border-bottom: 1px solid #fdbbcc;
	}

	.c-filter-list__heading {
		display: inline-block;
		padding-right: 15px;
		border-right: 1px solid #fdbbcc;
		margin-right: 15px;
	}

	.c-filter-list__item {
		display: inline-block;

		&:not(:last-of-type) {
			margin-right: 15px;
		}
	}
}

.c-question-list {

	.c-question-list__item {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #fdbbcc;

		.c-state {
			display: inline-block;
			padding-right: 20px;
			padding-left: 20px;
			text-align: center;

			.p-state-label {
				margin-bottom: 0;
			}
		}

		.c-question-left {
			float: left;
		}

		.c-question-right {
			overflow: hidden;
		}

		.c-question-meta {
			display: inline-block;
			padding-right: 20px;
			padding-left: 20px;
			margin-right: 10px;

			a {
				display: block;
				color: inherit;
			}

			.c-problem-name {
				color: #95989a;
				font-size: 0.8em;
			}
			.c-question-name {
				margin-bottom: 10px;
				font-size: 1.4em;
			}
			.c-team-name {
				color: #95989a;
				margin-bottom: 20px;
			}
		}

		.c-question-comment {
			display: block;
			min-height: 85px;
			padding: 10px 20px;
			border-radius: 10px;

			&.c-question-comment_of_participant {
				background-color: #d8d8d8;
			}

			&.c-question-comment_of_admin {
				background-color: #f0f0f0;
			}
		}

		.c-icon-reply {
			display: block;
			width: 2em;
			padding-right: 25px;
			padding-left: 25px;
			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
			color: #95989a;
			font-size: 2em;
			text-align: center;
			transform: rotateZ(90deg);
		}
	}
}

.c-problem-state-list {
	max-width: 890px;
	margin-right: auto;
	margin-left: auto;

	.c-problem-state-list__item {
		padding-top: 15px;
		padding-right: 20px;
		padding-bottom: 15px;
		padding-left: 20px;
		border-bottom: 1px solid #fdbbcc;

		.c-problem-name {
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 10px;
			font-size: 1.4em;
			font-weight: bold;
		}

		.p-state-label {
			width: 165px;
			padding-right: 10px;
			padding-left: 10px;
			text-align: left;
		}
	}
}

.c-answer-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.c-answer-list__item {
		width: 165px;

		.p-state-label {
			width: 100%;
		}
	}
}

.c-question-post {
	margin-bottom: 20px;
}

.u-member-detail {
	max-width: 600px;

	.separator {
		color: #eee;
	}

	.control-label {
		line-height: 2.6;
	}
}

.c-aside-of-floating-buttons {
	width: calc(100% - 75px);
}

@media only screen and (min-width: 800px) {
	.c-question-list {
		.c-question-list__item {
			display: flex;
			align-items: center;

			.c-state {
				width: 120px;
			}

			.c-question-right {
				display: flex;

				.c-question-meta {
					float: left;
					width: 280px;
				}

				.c-question-comment {
					float: left;
					align-self: center;
					width: 360px;

					c-question-comment_of_participant {
					}
				}

				.c-icon-reply {
					float: left;
					align-self: center;
					font-size: 3em;
					margin-bottom: 0;
					transform: none;
				}
			}
		}
	}
}
