h1.p-page-title.p-page-title_type_bordered.p-page-title_with_button
  .p-page-title__left
    .p-page-title__entry-number Entry no.
      .c-figure {{ team?.id }}
  .p-page-title__right
    span.c-school-name {{ team?.organization }}
    span.c-team-name {{ team?.name }}
    | の得点と詳細
  button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集')

.c-member-list
  a.c-member-list__item(href='/member-detail.html', *ngFor="let member of team?.members")
    .c-member-name {{ member.name }}
    .c-member-id {{ member.login }}
  button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集')

.c-score-board.center-block
  p.c-total-score
    | 総スコア
    span.c-total-score__figure  {{ team?.sum }}
    |  点
    button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集')
  ul.c-score-list
    li.c-score-list__item(*ngFor="let answer of team?.answers")
      a(href='/problem-detail-mark.html')
        span.score-number {{ answer.id }}
        span.problem-name {{ answer.problem.title }}
        span.score {{ answer.score.point }}
