h1.p-page-title 質問一覧
.c-filter-list.c-filter-list_type_bordered
  .c-filter-list__heading ラベルフィルター
  .c-filter-list__item
    button.p-state-label.p-state-label__all((click)="setFilter(1)", [ngClass]="{active: filter.all}") 全て
  .c-filter-list__item
    button.p-state-label.p-state-label__no-progress((click)="setFilter(2)", [ngClass]="{active: filter.noRes}") 未回答
  .c-filter-list__item
    button.p-state-label.p-state-label__in-progress((click)="setFilter(3)", [ngClass]="{active: filter.progress}") 対応中
  .c-filter-list__item
    button.p-state-label.p-state-label__resolved((click)="setFilter(4)", [ngClass]="{active: filter.success}") 解決済

.c-question-list
  .c-question-list__item(*ngFor="let item of filterd_list")
    .c-question-left
      .c-state([ngSwitch]="issueStatus(item)")
        button.p-state-label.p-state-label__in-progress(*ngSwitchCase="2") 対応中
        button.p-state-label.p-state-label__no-progress(*ngSwitchCase="1") 未回答
        button.p-state-label.p-state-label__resolved(*ngSwitchDefault) 解決済
    .c-question-right
      .c-question-meta
        a.c-problem-name([routerLink]="['/problem', item.problem_id]") {{ item.problem_id }}. {{ item.problem?.title }}
        a.c-question-name([routerLink]="[item.problem_id, item.team_id, item.id]") {{ item.title }}
        a.c-team-name([routerLink]="['/teams', item.team_id]") {{ item.team_id }} {{ item.team?.name }} / {{ item.team?.organization }}
      a.c-question-comment.c-question-comment_of_participant([routerLink]="[item.problem_id, item.team_id, item.id]")
        p {{ getLastRequest(item)?.text?.substr(0,50) }}
          span.p-post-meta.pull-right {{ item.team?.name }}　参加者
      i.fa.fa-chevron-right.c-icon-reply
      a.c-question-comment.c-question-comment_of_admin([routerLink]="[item.problem_id, item.team_id, item.id]")
          p {{ getLastResponse(item)?.text?.substr(0,50) }}

  //- .c-question-list__item
  //-   .c-question-left
  //-     .c-state
  //-       button.p-state-label.p-state-label__in-progress 対応中
  //-   .c-question-right
  //-     .c-question-meta
  //-       a.c-problem-name(href='/problem-detail.html') 2. もんだいタイトル
  //-       a.c-question-name(href='/problem-detail-question.html') 対応中サンプル
  //-       a.c-team-name(href='/team-detail.html') すこし長めのチーム名
  //-     a.c-question-comment.c-question-comment_of_participant(href='/problem-detail-question.html')
  //-       p これこれこうしようとしたらうまくいきませんでした。××は○○でしょうか？回答のほど宜しくおね…
  //-         span.p-post-meta.pull-right すこし長めのチーム名　参加者
  //-     i.fa.fa-chevron-right.c-icon-reply
  //-     a.c-question-comment.c-question-comment_of_admin(href='/problem-detail-question.html')
  //-         p 調査中ですので少々お待ち下さい。
  //- .c-question-list__item
  //-   .c-state
  //-     button.p-state-label.p-state-label__no-response 未回答
  //-   .c-question-meta
  //-     a.c-problem-name(href='/problem-detail.html') 2. もんだいタイトル
  //-     a.c-question-name(href='/problem-detail-question.html') 未回答サンプル
  //-     a.c-team-name(href='/team-detail.html') すこし長めのチーム名
  //-   a.c-question-comment.c-question-comment_of_participant(href='/problem-detail-question.html')
  //-     p これこれこうしようとしたらうまくいきませんでした。××は○○でしょうか？回答のほど宜しくおね…
  //-       span.p-post-meta.pull-right すこし長めのチーム名　参加者
  //-   i.fa.fa-chevron-right.c-icon-reply
  //-   a.c-question-comment.c-question-comment_of_admin(href='/problem-detail-question.html')
  //-       p 調査中ですので少々お待ち下さい。
  //- .c-question-list__item
  //-   .c-state
  //-     button.p-state-label.p-state-label__resolved 解決済
  //-   .c-question-meta
  //-     a.c-problem-name(href='/problem-detail.html') 問題に関する質問長くなる場合は改行で
  //-     a.c-question-name(href='/problem-detail-question.html') 解決済みサンプル
  //-     a.c-team-name(href='/team-detail.html') すこし長めのチーム名
  //-   a.c-question-comment.c-question-comment_of_participant(href='/problem-detail-question.html')
  //-     p これこれこうしようとしたらうまくいきませんでした。××は○○でしょうか？回答のほど宜しくおね…
  //-       span.p-post-meta.pull-right すこし長めのチーム名　参加者
  //-   i.fa.fa-chevron-right.c-icon-reply
  //-   a.c-question-comment.c-question-comment_of_admin(href='/problem-detail-question.html')
  //-       p 調査中ですので少々お待ち下さい。

pre(*ngIf="false").
  {{ list | json }}
