@charset "UTF-8";
@import url(./common.css);

.account-display {
  height: 22px;
  top: 20px;
  position: relative;
  text-align: right;
}

.account-display span {
  margin-right: 6px;
  margin-bottom: 30px;
}

.account-menu {
  display: inline-block;
  vertical-align: text-top;
}

.account-menu-button {
  width: 25px;
  height: 19px;
  background: url(../img/account-menuw.gif) no-repeat;
  background-size: 25px 19px;
}

.account-menu li {
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

.account-menu li ul {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 19px;
  padding: 5px;
}

.account-menu a {
  color: #ffffff;
}

.account-menu li ul li {
  min-width: 90px;
  margin: 0;
  padding: 0;
  border: none;
}

.account-menu li ul li a {
  display: inline-block;
}

.header-wrap {
  min-width: 940px;
  border-bottom: 1px solid #ececec;
  z-index: 1;
  background: #e6003b;
}

.header-content {
  padding: 0 20px;
  margin: 0 auto;
  width: 900px;
  color: #ffffff;
}

.header-logo a {
  background: url(../img/ictscw.gif) no-repeat;
  background-size: 200px 65px;
}

.header-gnav-wrap {
  background: #ffffff;
}

.header-gnav {
  width: 700px;
  margin: 0 auto;
}

.header-gnav li {
  width: 20%;
  display: block;
  float: left;
  text-align: center;
  font-size: 16px;
}

.header-gnav a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  border-bottom: 3px solid #ffffff;
  font-family: "Lato", sans-serif;
  color: #505050;
  font-weight: bold;
  transition: 0.1s;
}

.header-gnav a:hover {
  border-bottom: 3px solid #e6003b;
  color: #e6003b;
}

.header-gnav span {
  display: block;
  font-size: 10px;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}

.main-wrap {
  min-width: 940px;
  min-height: calc(100vh - 276px); /* 276 は適当 */
  padding-top: 20px;
  background: #f7f7f7;
  background-size: 42px;
}

.main-content {
  padding: 0 20px;
  margin: 0 auto;
  width: 900px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 10px;
}

.main-title {
  margin-right: 6px;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.main-title-sub {
  font-weight: bold;
}

.main-content-wrap {
  width: 100%;
  margin-right: 20px;
}

.main-content-wrap-sub {
  margin-bottom: 20px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ececec;
}

.main-content-wrap-sub a {
  color: #339ed8;
  text-decoration: none;
}

.main-content-wrap-sub a:hover {
  text-decoration: underline;
}

.main-content-header {
  margin-bottom: 10px;
}

.main-content-title {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.form-item {
  margin-bottom: 10px;
}

.form-item select {
  width: 500px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  font-size: 14px;
}

.form-item textarea {
  width: 840px;
  height: 200px;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 14px;
}

.form-item textarea:focus {
  outline: none;
}

.button-wrap {
  text-align: right;
}

.button-wrap .button {
  width: 100px;
  background: #ee3e52;
  border: none;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: #e6003b;
}

.answer-list-info {
  float: left;
  width: 120px;
}

.answer-list-main {
  float: right;
  width: 720px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cccccc;
}

.answer-list-title {
  font-weight: bold;
  color: #909090;
}

.answer-list-info-main {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.answer-list-main-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}

.answer-list-text {
  margin-top: 4px;
}

.answer-list-footer-info {
  color: #909090;
  margin-top: 10px;
}

.problems-table {
  width: 100%;
}

thead {
  border-bottom: 1px solid #ececec;
  color: #909090;
  font-family: "Lato", sans-serif;
}

thead th {
  padding-top: 10px;
  text-align: center;
}

.table-no {
  width: 7%;
  text-align: center;
}

.table-title {
  width: 60%;
}

.table-duedate {
  width: 14%;
  text-align: center;
}

.table-updated {
  width: 14%;
  text-align: center;
}

.problems-table tbody tr {
  transition: 0.2s;
}

.problems-table tbody tr:hover {
  background: #f7f7f7;
}

.problems-table tr + tr {
  border-top: 1px solid #ececec;
}

.problems-table th {
  padding: 18px 1%;
}

.problems-header {
  margin-bottom: 6px;
}

/*
.problems-no {
	float: left;
	font-size: 16px;
	color: $text-sub;
	@include font-lato;
}
.problems-updated {
	float: right;
	font-size: 16px;
	color: $text-sub;
	@include font-lato;
}
*/
.problems-title-label {
  color: #909090;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.problems-title {
  font-size: 24px;
  font-weight: bold;
}

.problems-info {
  width: 840px;
  margin: 20px 0 26px 0;
  padding: 10px;
  display: table;
  background: #f4f4f4;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.problems-info-box {
  width: 33%;
  display: table-cell;
}

.problems-info-no, .problems-info-duedate {
  border-right: 2px solid #ffffff;
}

.problems-info-title {
  color: #909090;
  font-weight: bold;
}

.problems-info-main {
  font-size: 20px;
}

.problems-text {
  width: 100%;
}

.problems-text img {
  max-width: 100%;
}

.problems-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.problems-text h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.problems-text h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.problems-text h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.problems-text h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.problems-text h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.footer-wrap {
  min-width: 940px;
  padding: 20px 0;
  background: #f7f7f7;

  display: flex;
  height: 32px;
  align-items: center;
}

.footer-content {
  padding: 0 20px;
  margin: 0 auto;
  width: 900px;
  margin: 0 auto;
}

.footer-logo {
  width: 110px;
  height: 30px;
  margin-top: 6px;
  float: left;
}

.footer-logo a {
  width: 110px;
  height: 30px;
  display: block;
  background: url(img/sp-logo.gif) no-repeat;
  background-size: 110px 30px;
  text-indent: -9999px;
}

.footer-content-wrap {
  margin-left: 130px;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav a {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

.footer-nav a:hover {
  text-decoration: underline;
}
