.header.clearfix
    img.logo(src='/assets/images/ictsc-logo-white.svg', width='117', height='50' alt='ICTSC のロゴ')
    .header__left
        ul.list
            li.list__item
                a(href='#') メンバー
            li.list__item
                a(href='#') チーム
    .header__right
        ul.list
            li.list__item
                a(href='#') トップ
            li.list__item
                a(href='#') 問題
            li.list__item
                a(href='#') 質問
            li.list__item
                a(href='#') 解答
            li.list__item
                a(href='#') ログアウト
    .clock
        .clock__date 8/27
        .clock__time 13:02
