.p-header.u-cf
    img.c-logo(src='/assets/images/ictsc-logo-white.svg', width='117', height='50' alt='ICTSC のロゴ')
    .p-header__left
        ul.p-list
            li.p-list__item
                a(href='/member-list.html') メンバー
            li.p-list__item
                a(href='/team-list.html') チーム
    .p-header__right
        ul.p-list
            li.p-list__item
                a(href='/dashboard.html') トップ
                    .notification-badge
            li.p-list__item
                a(href='/problem-list.html') 問題
            li.p-list__item
                a(href='/question-list.html') 質問
            li.p-list__item
                a(href='#') 解答
            li.p-list__item
                a(href='#') ログアウト
    .c-clock
        .c-clock__date 8/27
        .c-clock__time 13:02
