extends /extends/_layout

block vars
	- signedIn = true
	- isTeams = true

block title
	+title('チーム詳細')

block content
	.page-header
		h1 チーム詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#team-detail-tab(tabindex='1', role='tab', aria-controls='team-detail', href='#team-detail', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#team-edit-tab(tabindex='1', role='tab', aria-controls='team-edit', href='#team-edit', data-toggle='tab')
				i.fa.fa-edit
				|  編集
	.tab-content
		.tab-pane.in.active#team-detail(role='tabpanel', aria-labelledby='team-detail-tab')
			team-detail
		.tab-pane#team-edit(role='tabpanel', aria-labelledby='team-edit-tab')
			team-edit
