extends /extends/_layout

block vars
	- signedIn = true
	- isTeams = true

block title
	+title('チーム一覧')

block riot_tags
	+riot_script('team-list')
	+riot_script('team-create')

block content
	.page-header
		h1 チーム一覧
	.table-responsive
		team-list
	.page-header
		h2 チーム作成
	team-create
