account-list
	table.table.table-striped.table-hover.table-condensed
		thead
			tr
				th 番号
				th チーム名
				th 所属
				th ユーザー名
				th アカウント ID
				th ロール
		tbody
			tr
				th
					a(href='/accounts/detail.html') 1
				td
					a(href='/teams/detail.html') WCDI
				td 日本工学院八王子専門学校
				td
					a(href='/accounts/detail.html') 太箸 耀暉
				td
					a(href='/accounts/detail.html') futobashi
				td 参加者
			tr
				th
					a(href='/accounts/detail.html') 2
				td
					a(href='/teams/detail.html') WCDI
				td 日本工学院八王子専門学校
				td
					a(href='/accounts/detail.html') 倉上 和也
				td
					a(href='/accounts/detail.html') kurakami
				td 参加者
			tr
				th
					a(href='/accounts/detail.html') 3
				td
					a(href='/teams/detail.html') WCDI
				td 日本工学院八王子専門学校
				td
					a(href='/accounts/detail.html')  趙 駿一
				td
					a(href='/accounts/detail.html') cho
				td 参加者
			tr
				th
					a(href='/accounts/detail.html') 4
				td
					a(href='/teams/detail.html') WCDI
				td 日本工学院八王子専門学校
				td
					a(href='/accounts/detail.html') 金澤 直輝
				td
					a(href='/accounts/detail.html') kanazawa
				td 参加者
			tr
				th
					a(href='/accounts/detail.html') 5
				td
					a(href='/teams/detail.html') WCDI
				td 日本工学院八王子専門学校
				td
					a(href='/accounts/detail.html') 大塚 悠矢
				td
					a(href='/accounts/detail.html') otsuka
				td 参加者
	script
