answer-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label 番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label 投稿者
					.col-sm-10
						a.show.form-control-static(href='/accounts/detail.html') 倉上 和也
				.form-group
					label.col-sm-2.control-label 本文
					.col-sm-10
						p.form-control-static またしかも大先生を落ちのさえそう無事と読みでしょけれども、その繰り返しよりはするたてとして先生をしからいでで。ほんの中心持のためとんだ人間も私中のもっですかと大森さんを挙げただ、学校の晩たというご専攻たでなけれて、孔雀の時へ実に今日だけの社会が時間食って行くて、あいにくの元来にしてそのためがやはりもったなと立てるまいのなが、ないだだろからこうお自分しでものたでたら。
				.form-group
					label.col-sm-2.control-label 問題番号
					.col-sm-10
						a.show.form-control-static(href='/problems/detail.html') 1
				.form-group
					label.col-sm-2.control-label 問題名
					.col-sm-10
						a.show.form-control-static(href='/problems/detail.html') パッケージ管理システムのリポジトリ問題
				.form-group
					label.col-sm-2.control-label 作成日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
				.form-group
					label.col-sm-2.control-label 更新日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
	script
