answer-comment-list
	.panel.panel-default
		.panel-body
			.form-horizontal.hidden
				.form-group
					label.col-sm-2.control-label チーム名
					.col-sm-10
						p.form-control-static WCDI
				.form-group
					label.col-sm-2.control-label 所属
					.col-sm-10
						p.form-control-static 日本工学院八王子専門学校
				.form-group
					label.col-sm-2.control-label 作成日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
				.form-group
					label.col-sm-2.control-label 更新日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
			.chatbox
				p.well.help-block.hidden まだ解答はありません。解答はひとつの問題にいくつでも投稿できます。わかったことはこまめに投稿しましょう。
				ul
					li
							a.author.help-block(href='/accounts/detail.html') 倉上 和也
							a.detail-link.help-block(href='/problems/answers/detail.html') 詳細
							p.comment-body またしかも大先生を落ちのさえそう無事と読みでしょけれども、その繰り返しよりはするたてとして先生をしからいでで。ほんの中心持のためとんだ人間も私中のもっですかと大森さんを挙げただ、学校の晩たというご専攻たでなけれて、孔雀の時へ実に今日だけの社会が時間食って行くて、あいにくの元来にしてそのためがやはりもったなと立てるまいのなが、ないだだろからこうお自分しでものたでたら。
							span.help-block.text-right 2016-08-27 12:00
				form(action='/problems/detail.html#tab4-content', name='form-supplement-creation')
					.form-group
						label(for='textarea-answer-body') 新規解答
						textarea.form-control#textarea-answer-body(rows='10')
					.text-right
						button.btn.btn-primary(type='submit') 投稿
	script
