member-list
	table.table.table-striped.table-hover.table-condensed
		thead
			tr
				th メンバー ID
				th チーム名
				th 所属
				th 名前
				th ロール
		tbody
			tr(each='{ members }')
				th { id }
				td
					a(href='{ "/teams/" + team_id }') { parent.team(team_id).name }
				td { parent.team(team_id).organization }
				td
					a(href='{ "/members/" + id }') { name }
				td { parent.role_name[role_id] }
	script.
		this.role_name =  {
			2: "Admin",
			3: "Writer",
			4: "Participant",
			5: "Viewer"
		}

		team(id) {
			return this.teams.find((x) => { return x.id == id; })
		}

		fetch(`/api/members`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.members = j;
				this.update();
				this.activate_datatable();
			});
		});

		fetch(`/api/teams`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.teams = j;
				this.update();
			});
		});


