member-edit
	.panel
		.panel-body
			form.form-horizontal(action='/members/list.html', name='form-member-editing')
				.form-group
					label.col-sm-2.control-label メンバー番号
					.col-sm-10
						p.form-control-static { member.id }
				.form-group
					label.col-sm-2.control-label(for='select-team') チーム名
					.col-sm-10
						select.form-control#select-team(name='team' onchange='{ select_team }')
							option(value='0') チーム名を選択してください
							option(each='{ teams }' value='{ id }' selected='{ id == member.team_id }') { name }
				.form-group
					label.col-sm-2.control-label 所属
					.col-sm-10
						p.form-control-static { (selected_team && selected_team.organization) || "チーム名が未選択" }
							span.help-block(hide='{ selected_team }') チーム名を選択すると自動表示されます
				.form-group
					label.col-sm-2.control-label(for='input-name') ユーザー名
					.col-sm-10
						input.form-control#input-name(type='text', value='{ member.name }')
				.form-group
					label.col-sm-2.control-label(for='input-login') メンバー ID
					.col-sm-10
						input.form-control#input-login(type='text', value='{ member.login }')
				.text-right
					button.btn.btn-primary(type='submit') 更新
	script.
		this.selected_team = null

		fetch(`/api/members/${this.opts.resource_id}`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.member = j;
				this.update();
			});
		});

		fetch("/api/teams").then((res) => {
			res.json().then((j) => {
				this.teams = j;
				console.log(j[0]);
				//- this.team = j[0].name
				this.update();
			})
		})

		select_team(e) {
			const idx = e.target.selectedIndex;
			if (idx == 0) {
				this.selected_team = null
			} else {
				this.selected_team = this.teams[idx-1]
			}
		}
