member-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label メンバー番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label チーム名
					.col-sm-10
						p.form-control-static
							a(href='/teams/detail.html') WCDI
				.form-group
					label.col-sm-2.control-label 所属
					.col-sm-10
						p.form-control-static 日本工学院八王子専門学校
				.form-group
					label.col-sm-2.control-label ユーザー名
					.col-sm-10
						p.form-control-static 太箸 耀暉
				.form-group
					label.col-sm-2.control-label メンバー ID
					.col-sm-10
						p.form-control-static futobashi
				.form-group
					label.col-sm-2.control-label ロール
					.col-sm-10
						p.form-control-static 参加者
	script
