member-edit
	.panel
		.panel-body
			form.form-horizontal(action='/members/list.html', name='form-member-editing')
				.form-group
					label.col-sm-2.control-label メンバー番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label(for='select-team-name') チーム名
					.col-sm-10
						select.form-control#select-team-name(name='team-name')
							option(value='0') チーム名を選択してください
							option(value='1', selected) WCDI
							option(value='2') ISL
							option(value='3') にせつむり(ゆかいな仲間たち)
							option(value='4') 専門学校穴吹コンピュータカレッジ
				.form-group
					label.col-sm-2.control-label 所属
					.col-sm-10
						p.form-control-static 日本工学院八王子専門学校
						span.help-block チーム名を選択すると自動表示されます
				.form-group
					label.col-sm-2.control-label(for='input-username') ユーザー名
					.col-sm-10
						input.form-control#input-username(type='text', value='太箸 耀暉')
				.form-group
					label.col-sm-2.control-label(for='input-school') メンバー ID
					.col-sm-10
						input.form-control#input-school(type='text', value='日本工学院八王子専門学校')
				.text-right
					button.btn.btn-primary(type='submit') 更新
	script
