member-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label メンバー番号
					.col-sm-10
						p.form-control-static { member.id }
				.form-group
					label.col-sm-2.control-label チーム名
					.col-sm-10
						p.form-control-static(if='{ team }')
							a(href='{ "/teams/" + team.id }') { team.name }
						p.form-control-static(if='{ !team }') なし
				.form-group(if='{ team }')
					label.col-sm-2.control-label 所属
					.col-sm-10
						p.form-control-static { team.organization }
				.form-group
					label.col-sm-2.control-label ユーザー名
					.col-sm-10
						p.form-control-static { member.name }
				.form-group
					label.col-sm-2.control-label ロール
					.col-sm-10
						p.form-control-static { role_name[member.role_id] }
	script.
		this.role_name =  {
			2: "Admin",
			3: "Writer",
			4: "Participant",
			5: "Viewer"
		}

		fetch(`/api/members/${this.opts.resource_id}`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.member = j;
				this.update();

				if (this.member.team_id === null) {
					return;
				}

				fetch(`/api/teams/${this.member.team_id}`, {
					credentials: "same-origin"
				}).then((res) => {
					res.json().then((j) => {
						this.team = j
						this.update();
					})
				})
			});
		});

