problem-edit
	.panel.panel-default
		.panel-body
			form.form-horizontal(action='/problems/detail.html', name='form-problem-editing')
				.form-group
					label.col-sm-2.control-label 番号
					.col-sm-10
						p.form-control-static { problem.id }
				.form-group
					label.col-sm-2.control-label(for='input-problem-name') 問題名
					.col-sm-10
						input.form-control#input-problem-name(type='text', value='{ problem.title }')
				.form-group
					label.col-sm-2.control-label(for='textarea-problem-body') 本文
					.col-sm-10
						textarea.form-control#textarea-problem-body(rows='10')
				.form-group
					label.col-sm-2.control-label(for='input-disclosure-datetime') 公開日時
					.col-sm-10
						input.form-control#input-disclosure-datetime(type='datetime', value='{ new Date(problem.opened_at).toISOString() }')
				.form-group
					label.col-sm-2.control-label(for='input-deadlone-datetime') 締切日時
					.col-sm-10
						input.form-control#input-deadlone-datetime(type='datetime', value='{ new Date(problem.closed_at).toISOString() }')
				.text-right
					button.btn.btn-primary(type='submit') 更新
	script.
		fetch(`/api/problems/${this.opts.resource_id}`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.problem = j;
				this.update();
				this.mde = this.activate_mde(this, "#textarea-problem-body", j.text)
			});
		});

