problem-create
	form.form-horizontal(onsubmit='{ create_problem }', name='form-problem-creation')
		.form-group
			label.col-sm-2.control-label(for='input-problem-title') 問題名
			.col-sm-10
				input.form-control#input-problem-title(type='text', name='title')
		.form-group
			label.col-sm-2.control-label(for='input-problem-body') 問題本文
			.col-sm-10
				input.form-control#input-problem-body(type='text', name='text')
		.form-group
			label.col-sm-2.control-label(for='input-opened-datetime') 問題公開日時
			.col-sm-10
				input.form-control#input-opened-datetime(type='datetime', name='opened_at')
		.form-group
			label.col-sm-2.control-label(for='input-closed-datetime') 問題締切日時
			.col-sm-10
				input.form-control#input-closed-datetime(type='datetime', name='closed_at')
		.text-right
			button.btn.btn-primary(type='submit') 投稿
	script.
		create_problem(e) {
			fetch("/api/problems", {
				method: "POST",
				body: new FormData(this.root.querySelector("form")),
				credentials: "same-origin"
			}).then((res) => {
				location.reload()
			}).catch(res => {
			});
		}
