problem-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label 番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label 問題名
					.col-sm-10
						p.form-control-static パッケージ管理システムのリポジトリ問題
				.form-group
					label.col-sm-2.control-label 本文
					.col-sm-10
						p.form-control-static
							| 弊社では、多数あるサーバへのパッケージのインストールを円滑に行うため、リポジトリのミラーサーバを設置し運営している。
							| ミラーサーバは毎日同じ時間に外部のリポジトリサーバからミラーリングを行っている
							| しかし、ある日を境に、社内のサーバのパッケージのインストールが全て失敗するようになってしまった。問題の究明、解決を行って欲しい。
				.form-group
					label.col-sm-2.control-label 投稿者
					.col-sm-10
						a.form-control-static.show(href='/accounts/detail.html') 朝霧 涼夏
				.form-group
					label.col-sm-2.control-label 公開日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
				.form-group
					label.col-sm-2.control-label 締切日時
					.col-sm-10
						p.form-control-static 2016-08-27 15:00
				.form-group
					label.col-sm-2.control-label 作成日時
					.col-sm-10
						p.form-control-static 2016-07-27 18:00
				.form-group
					label.col-sm-2.control-label 更新日時
					.col-sm-10
						p.form-control-static 2016-07-27 18:00
	script
