question-comment-list
	.panel.panel-default
		.panel-heading
			.text-right
				input#checkbox-question-state(type='checkbox', name='question-state')
			.text-right
				label.help-block(for='checkbox-question-state') 運営からの回答を受け付ける
		.panel-body
			.form-horizontal.hidden
				.form-group
					label.col-sm-2.control-label チーム名
					.col-sm-10
						a.show.form-control-static(href='/teams/detail.html') WCDI
				.form-group
					label.col-sm-2.control-label 所属
					.col-sm-10
						p.form-control-static 日本工学院八王子専門学校
				.form-group
					label.col-sm-2.control-label 作成日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
				.form-group
					label.col-sm-2.control-label 更新日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
			.chatbox
				p.well.help-block.hidden まだ質問はありません。質問があれば投稿し、右上のスライドスイッチを ON にしてください。解決したら OFF にしてください。
				ul(each='{ comments }')
					li
							a.author.help-block(href='{ "/members/" + member_id }') { parent.commented_members[member_id].name }
							a.detail-link.help-block(href='{ "/problems/" + parent.opts.id + "/questions/" + id }') 詳細
							p.comment-body { text }
							span.help-block.text-right { date2str(created_at) }
				form(action='/problems/detail.html#question-comment-list', name='form-supplement-creation')
					.form-group
						label(for='textarea-question-body') 新規質問
						textarea.form-control#textarea-question-body(rows='10')
					.text-right
						button.btn.btn-primary(type='submit') 投稿
	script.
		this.commented_members = {}

		this.on("mount", () => {
			$("[name='question-state']").bootstrapSwitch();
			console.log($("[name='question-state']").bootstrapSwitch('state'));

			this.mde = this.activate_mde(this, "#textarea-question-body");
		});

		fetch(`/api/problems/${this.opts.id}/issues`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				if (j.length == 0) {
					this.show_help()
					return;
				}

				this.issue = j[0];
				//- this.update();

				fetch(`/api/issues/${this.issue.id}/comments`, {
					credentials: "same-origin"
				}).then((res) => {
					res.json().then((j) => {
						this.comments = j

						this.member_ids(this.comments).
							forEach((x) => {
								fetch(`/api/members/${x}`, {
									credentials: "same-origin"
								}).then((res) => {
									res.json().then((j) => {
										this.commented_members[x] = j;
										this.update();
									})
								})
							})
						this.update();
					})
				})
			});
		});

