question-list
	table.table.table-striped.table-hover.table-condensed
		thead
			tr
				th 番号
				th.hidden 投稿チーム
				th 問題番号
				th 問題名
		tbody
			tr(each='{ issues }')
				th
					a(href='{ "/problems/" + problem_id + "#question-comment-list" }') { id }
				td.hidden
					a(href='{ "/teams/" + team_id }') WCDI
				td { problem_id }
				td
					a(href='{ "/problems/" + problem_id }') 問題名がここに入ります
	script.
		fetch("/api/issues", {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.issues = j;
				this.update();
				this.activate_datatable();
			});
		});

