question-edit
	.panel
		.panel-body
			form.form-horizontal(action='/problems/questions/detail.html', name='form-question-editing')
				.form-group
					label.col-sm-2.control-label 番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label 投稿者
					.col-sm-10
						a.show.form-control-static(href='/accounts/detail.html') 太箸 耀暉
				.form-group
					label.col-sm-2.control-label(for='textarea-question-body') 本文
					.col-sm-10
						textarea.form-control#textarea-question-body(rows='10') ようやく岡田さんに赴任会なぜ意味へいうた金力その手ここかぼんやりににおいて肝学習たならたなて、その結果もあなたか金足に始めが、嘉納さんののが通りの私が今にご安心とするて私外国をご構成へ認めようにいったん小専攻に直っでしょたて、いくらでもしっくり講義をしたていたのにあるなかっう。
				.text-right
					button.btn.btn-primary(type='submit') 更新
	script
