question-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label 番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label 投稿者
					.col-sm-10
						a.show.form-control-static(href='/members/detail.html') 太箸 耀暉
				.form-group
					label.col-sm-2.control-label 本文
					.col-sm-10
						p.form-control-static ようやく岡田さんに赴任会なぜ意味へいうた金力その手ここかぼんやりににおいて肝学習たならたなて、その結果もあなたか金足に始めが、嘉納さんののが通りの私が今にご安心とするて私外国をご構成へ認めようにいったん小専攻に直っでしょたて、いくらでもしっくり講義をしたていたのにあるなかっう。
				.form-group
					label.col-sm-2.control-label 問題番号
					.col-sm-10
						a.show.form-control-static(href='/problems/detail.html') 1
				.form-group
					label.col-sm-2.control-label 問題名
					.col-sm-10
						a.show.form-control-static(href='/problems/detail.html') パッケージ管理システムのリポジトリ問題
				.form-group
					label.col-sm-2.control-label 作成日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
				.form-group
					label.col-sm-2.control-label 更新日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
	script
