score-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label 番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label 採点者
					.col-sm-10
						a.show.form-control-static(href='/accounts/detail.html') 朝霧 涼夏
				.form-group
					label.col-sm-2.control-label スコア
					.col-sm-10
						p.form-control-static 100
				.form-group
					label.col-sm-2.control-label 問題番号
					.col-sm-10
						a.show.form-control-static(href='/problems/detail.html') 1
				.form-group
					label.col-sm-2.control-label 解答番号
					.col-sm-10
						a.show.form-control-static(href='/problems/detail.html#tab5-content') 1
				.form-group
					label.col-sm-2.control-label 解答チーム
					.col-sm-10
						a.show.form-control-static(href='/teams/detail.html') WCDI
				.form-group
					label.col-sm-2.control-label 作成日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
				.form-group
					label.col-sm-2.control-label 更新日時
					.col-sm-10
						p.form-control-static 2016-08-27 12:00
	script
