supplement-comment-list
	.panel.panel-default
		.panel-body
			.chatbox
				ul
					li
							a.author.help-block(href='/members/detail.html') 朝霧 涼夏
							a.detail-link.help-block(href='/problems/supplements/detail.html') 詳細
							p.comment-body 君もほかけっしてどういう諷刺心という訳のためを救うたあり。いくら場合に反抗方もとにかくそうした妨害たんかもを思っばいででも仕事要らないありが、全くとも出しないないありたい。大名に眺めたのはどうか当時にとうとうたなくだ。
							span.help-block.text-right 2016-08-27 12:00
				form(action='/problems/detail.html#supplement-comment-list', name='form-supplement-creation')
					.form-group
						label(for='textarea-supplement-body') 新規補足
						textarea.form-control#textarea-supplement-body(rows='10')
					.text-right
						button.btn.btn-primary(type='submit') 投稿
	script.
		this.on("mount", () => {
			this.mde = this.activate_mde(this, "#textarea-question-body")
		});
