team-create
	form(onsubmit='{ create_team }', name='form-team-creation')
		.form-group
			label(for='input-team-name') チーム名
			input.form-control#input-team-name(type='text' name="name")
		.form-group
			label(for='input-organization') 所属
			input.form-control#input-organization(type='text' name="organization")
		.text-right
			button.btn.btn-primary(type='submit') 作成
	script.
		create_team(e) {
			fetch("/api/teams", {
				method: "POST",
				body: new FormData(this.root.querySelector("form")),
			  credentials: "same-origin"
			}).then((res) => {
				location.href = "/teams"
			}).catch(res => {
			});
		}
