team-list
	table.table.table-striped.table-hover.table-condensed
		thead
			tr
				th 番号
				th チーム名
				th 所属
				th メンバー数
				th 総スコア
		tbody
			tr(each='{ teams }')
				th { id }
				td
					a(href='{ "/teams/" + id }') { id }
				td { organization }
				td XXX
				td
					a(href='/answers/scores/detail.html') XXX
	script.
		fetch("/api/teams", {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.teams = j;
				this.update();
				this.activate_datatable();
			});
		});
