team-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label チーム番号
					.col-sm-10
						p.form-control-static 1
				.form-group
					label.col-sm-2.control-label チーム名
					.col-sm-10
						p.form-control-static WCDI
				.form-group
					label.col-sm-2.control-label 所属
					.col-sm-10
						p.form-control-static 日本工学院八王子専門学校
				.form-group
					label.col-sm-2.control-label 総スコア
					.col-sm-10
						p.form-control-static 100
		.container-fluid
			.panel.panel-default
				.panel-heading メンバー一覧
				.table-responsive
					table.table.table-striped.table-hover.table-condensed
						thead
							tr
								th ユーザー名
								th アカウント ID
						tbody
							tr
								th 太箸 耀暉
								td futobashi
							tr
								th 倉上 和也
								td kurakami
							tr
								th 趙 駿一
								td cho
							tr
								th 金澤 直輝
								td kanazawa
							tr
								th 大塚 悠矢
								td otsuka
	script
