extends /extends/_layout

block vars
	- signedIn = true
	- isProblems = true

block title
	+title('アカウント詳細')

block riot_tags
	+riot_script('problem-detail')
	+riot_script('problem-edit')
	+riot_script('supplement-comment-list')
	+riot_script('question-comment-list')
	+riot_script('answer-comment-list')

block content
	.page-header
		h1 問題詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#problem-detail-tab(tabindex='1', role='tab', aria-controls='problem-detail', href='#problem-detail', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#problem-edit-tab(tabindex='1', role='tab', aria-controls='problem-edit', href='#problem-edit', data-toggle='tab')
				i.fa.fa-edit
				|  編集
		li(role='presentation')
			a#supplement-comment-list-tab(tabindex='1', role='tab', aria-controls='supplement-comment-list', href='#supplement-comment-list', data-toggle='tab')
				i.fa.fa-edit
				|  補足
		li(role='presentation')
			a#question-comment-list-tab(tabindex='1', role='tab', aria-controls='question-comment-list', href='#question-comment-list', data-toggle='tab')
				i.fa.fa-edit
				|  質問
		li(role='presentation')
			a#answer-comment-list-tab(tabindex='1', role='tab', aria-controls='answer-comment-list', href='#answer-comment-list', data-toggle='tab')
				i.fa.fa-edit
				|  解答
	.tab-content
		.tab-pane.in.active#problem-detail(role='tabpanel', aria-labelledby='problem-detail-tab')
			problem-detail
		.tab-pane#problem-edit(role='tabpanel', aria-labelledby='problem-edit-tab')
			problem-edit
		.tab-pane#supplement-comment-list(role='tabpanel', aria-labelledby='supplement-comment-list-tab')
			supplement-comment-list
		.tab-pane#question-comment-list(role='tabpanel', aria-labelledby='question-comment-list-tab')
			question-comment-list
		.tab-pane#answer-comment-list(role='tabpanel', aria-labelledby='answer-comment-list-tab')
			answer-comment-list

block additional_scripts
