extends /extends/_layout

block vars
	- signedIn = true
	- isProblems = true

block title
	+title('アカウント詳細')

block riot_tags
	+riot_script('problem-detail')
	+riot_script('problem-edit')
	+riot_script('supplement-comment-list')
	+riot_script('question-comment-list')
	+riot_script('answer-comment-list')

block content
	.page-header
		h1 問題詳細
	ul.nav.nav-tabs(role='tablist')
		li.active(role='presentation')
			a#tab1-tab(tabindex='1', role='tab', aria-controls='tab1-content', href='#tab1-content', data-toggle='tab')
				i.fa.fa-search
				|  詳細
		li(role='presentation')
			a#tab2-tab(tabindex='1', role='tab', aria-controls='tab2-content', href='#tab2-content', data-toggle='tab')
				i.fa.fa-edit
				|  編集
		li(role='presentation')
			a#tab3-tab(tabindex='1', role='tab', aria-controls='tab3-content', href='#tab3-content', data-toggle='tab')
				i.fa.fa-edit
				|  補足
		li(role='presentation')
			a#tab4-tab(tabindex='1', role='tab', aria-controls='tab4-content', href='#tab4-content', data-toggle='tab')
				i.fa.fa-edit
				|  質問
		li(role='presentation')
			a#tab5-tab(tabindex='1', role='tab', aria-controls='tab5-content', href='#tab5-content', data-toggle='tab')
				i.fa.fa-edit
				|  解答
	.tab-content
		.tab-pane.in.active#tab1-content(role='tabpanel', aria-labelledby='tab1-tab')
			problem-detail
		.tab-pane#tab2-content(role='tabpanel', aria-labelledby='tab2-tab')
			problem-edit
		.tab-pane#tab3-content(role='tabpanel', aria-labelledby='tab3-tab')
			supplement-comment-list
		.tab-pane#tab4-content(role='tabpanel', aria-labelledby='tab4-tab')
			question-comment-list
		.tab-pane#tab5-content(role='tabpanel', aria-labelledby='tab5-tab')
			answer-comment-list
block additional_scripts
	script(src='/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
	script.
		$(function () {
			$("[name='question-state']").bootstrapSwitch();
			console.log($("[name='question-state']").bootstrapSwitch('state'))
		})
