extends /extends/_layout

block vars
	- signedIn = true
	- isProblems = true

block title
	+title('問題一覧')

block riot_tags
	+riot_script('problem-list')
	+riot_script('problem-create')

block content
	.page-header
		h1 問題一覧
	.table-responsive
		problem-list
	.page-header
		h2 問題投稿
	problem-create