@import 'partials/_bootstrap';

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 70px;
}

main {
	flex: 1;
}

footer {
	display: flex;
	justify-content: center;

	&.navbar {
		margin-bottom: 0;
	}

	.copyright {
		color: #fff;
		align-self: center;
		margin: 0;
	}
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	font-size: 16px !important;
}
