extends /extends/_layout

block vars
	- signedIn = true

block title
	+title('スコア詳細')

block content
	.panel.panel-default
		.panel-heading 親パネル heading
		.panel-body 親パネル body
		.container-fluid
			.panel.panel-default
				.panel-heading 親パネル heading
				.panel-body 親パネル body
		
